In [1]:
import pandas as pd

In [773]:
df= pd.read_csv('data_제작비_한국.csv')

In [774]:
df

,Unnamed: 0,no.,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비
0,0,2.0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10
1,1,3.0,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09
2,3,7.0,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09
3,5,9.0,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08
4,8,13.0,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2374,6317.0,방황하는 칼날,이정호,"정재영, 이성민, 서준영, 김대명, 김현, 이수빈, 이주승, 최상욱, 김지혁, 김홍...","한 아이의 아버지는 하나뿐인 딸을 잃은 피해자가 되고, 이제는 살인자가 되었습니다....",범죄,122.0,"복수,살인자,소설원작,스릴러,아버지,윤간,일본소설원작,집단성폭행,추격,피해자,형사,...",청소년관람불가,한국,594.0,987420.0,7.806378e+09,2014-04-10,2.400000e+09
573,2376,6320.0,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10
574,2381,6334.0,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10
575,2384,6338.0,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10
576,2391,6358.0,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06

In [775]:
star = pd.read_csv('data_merge_star.csv')

In [776]:
star.columns

Index(['Unnamed: 0', 'title', 'directors', 'actors', 'plots', 'genre',
       'runtime', 'keywords', '등급', '개봉일', '국적', 'screenCnt', 'salesAcc',
       'audiAcc', 'star_buzz'],
      dtype='object')

In [777]:
star = star.drop(['Unnamed: 0', 'directors', 'actors', 'plots', 'genre',
       'runtime', 'keywords', '등급', '개봉일', '국적', 'screenCnt', 'salesAcc',
       'audiAcc'], axis=1)

In [778]:
star

                title  star_buzz
0     스왈로 탐험대와 아마존 해적          0
1                  물괴       1629
2               싱글라이더        581
3             리즈와 파랑새         18
4               레드 후드          3
...               ...        ...
6376            파라노이아         23
6377         춘하추동 로맨스         23
6378          4명의 암살자          4
6379             변종샤크          2
6380            터널 3D        630

[6381 rows x 2 columns]

In [779]:
df = pd.merge(df,star, how='left', on='title' )

In [780]:
df

,Unnamed: 0,no.,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz
0,0,2.0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629
1,1,3.0,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581
2,3,7.0,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943
3,5,9.0,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111
4,8,13.0,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2374,6317.0,방황하는 칼날,이정호,"정재영, 이성민, 서준영, 김대명, 김현, 이수빈, 이주승, 최상욱, 김지혁, 김홍...","한 아이의 아버지는 하나뿐인 딸을 잃은 피해자가 되고, 이제는 살인자가 되었습니다....",범죄,122.0,"복수,살인자,소설원작,스릴러,아버지,윤간,일본소설원작,집단성폭행,추격,피해자,형사,...",청소년관람불가,한국,594.0,987420.0,7.806378e+09,2014-04-10,2.400000e+09,772
573,2376,6320.0,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987
574,2381,6334.0,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196
575,2384,6338.0,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413
576,2391,6358.0,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147

In [781]:
df_ect = pd.read_csv('data_merge_star.csv')

In [782]:
df_1978 = df_ect[df_ect['title']=='1987']

In [783]:
df_1978

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,star_buzz
88,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,2017-12-27,한국,1299,5.816558e+10,7231638,1830

In [784]:
df = pd.concat([df,df_1978], axis=0)

In [785]:
df

,Unnamed: 0,no.,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz
0,0,2.0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629
1,1,3.0,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581
2,3,7.0,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943
3,5,9.0,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111
4,8,13.0,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2376,6320.0,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987
574,2381,6334.0,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196
575,2384,6338.0,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413
576,2391,6358.0,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147
88,88,NaN,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,NaN,1830

In [786]:
df.loc[df['title']=='1987','제작비'] = 14500000000

In [787]:
df = df.drop(['Unnamed: 0','runtime','keywords','plots','no.'], axis=1)

In [788]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335
...,...,...,...,...,...,...,...,...,...,...,...,...
573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987
574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196
575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413
576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147
88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830

# 타겟 만들기

In [789]:
df['Target'] = df['salesAcc'] - df['제작비']

In [790]:
df.loc[df['Target']<0,'Target'] = 0
df.loc[df['Target']>0,'Target'] = 1

In [791]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629,0.0
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581,0.0
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943,1.0
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111,0.0
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987,1.0
574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196,0.0
575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413,1.0
576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147,1.0
88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0

In [792]:
df.reset_index(inplace=True)

## 배우

In [793]:
df['act_n'] = df['actors'].str.split(',')

In [794]:
for i in range(len(df['act_n'])):
    df.loc[i,'act_n'] = len(df['act_n'][i])

## 배급사 합치기

In [795]:
df_pro = pd.read_excel('../data/KOBIS_개봉일람.xlsx')

In [796]:
df_pro = df_pro.drop(['순번', '감독', '제작사', '수입사', '개봉일', '영화유형', '영화형태', '국적',
       '전국', '전국.1', '전국.2', '서울', '서울.1', '장르', '등급', '영화구분'], axis=1)

In [797]:
df_pro.rename(columns={'영화명':'title'}, inplace=True)

In [798]:
df_pro = df_pro.drop_duplicates()

In [799]:
df = pd.merge(df,df_pro, how='left', on='title' )

In [800]:
df = df.drop_duplicates('title', keep='first')

## 배급사 전처리

In [801]:
df['배급사']=df['배급사'].astype('str')

In [802]:
df[df['배급사']=='nan']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사
264,252,출국,노규엽,"이범수, 연우진, 박혁권, 박주미, 이현정, 김보민, 로버트 미카, 전무송, 남문철...",드라마,15세이상관람가,한국,274.0,81722.0,6.395218e+08,2018-11-14,6.500000e+09,427,0.0,54,nan
597,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0,295,nan

In [803]:
df.at[264, '배급사'] = '스파일이엔트'

df.at[597, '배급사'] = 'CJ'

In [804]:
df[df['배급사']=='nan']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, star_buzz, Target, act_n, 배급사]
Index: []

In [805]:
df['배급사'].value_counts()[:10] #160개

(주)씨제이이엔엠              80
(주)넥스트엔터테인먼트월드(NEW)    59
(주)쇼박스                 43
롯데쇼핑㈜롯데엔터테인먼트          39
CGV아트하우스               24
(주)리틀빅픽쳐스              23
롯데컬처웍스(주)롯데엔터테인먼트      21
메가박스중앙(주)플러스엠          21
㈜인디스토리                 16
(주)엣나인필름               11
Name: 배급사, dtype: int64

In [806]:
df['배급사'] = df['배급사'].str.replace('㈜','')

In [807]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x or '씨제이' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x or '에스케이' in x:
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    elif '롯데' in x :
        return '롯데'
    elif 'KBS' in x :
        return 'KBS'
    elif '제이앤씨미디어그룹' in x :
        return '제이앤씨미디어그룹'
    elif '월트디즈니' in x :
        return '월트디즈니'
    elif '그린나래' in x :
        return '그린나래'
    elif 'KTG상상마당' in x or 'KT'in x :
        return 'KTG상상마당'
    elif 'TJOY' in x or 'T-JOY' in x:
        return 'TJOY'
    elif '디오시네마' in x :
        return '디오시네마'
    elif '스톰픽쳐스' in x :
        return '스톰픽쳐스'
    elif '디스테이션' in x :
        return '디스테이션'
    elif '더블앤조이' in x :
        return '디스테이션'
    elif 'CBS' in x :
        return 'CBS'
    elif 'CBS' in x :
        return 'CBS'
    elif '더쿱' in x :
        return '더쿱'
    elif '더콘텐츠온' in x :
        return '더콘텐츠온'
    elif '소니픽쳐스' in x :
        return '소니픽쳐스'
    elif '이수' in x :
        return '이수'
    elif '워너' in x :
        return '워너브라더스'
    elif '삼백' in x :
        return '삼백상회'
    elif '폭스' in x :
        return '폭스코리아'
    elif '엣나인' in x :
        return '엣나인필름'
    elif '티캐스트' in x :
        return '티캐스트'
    elif '콘텐츠판다' in x :
        return '콘텐츠판다'
    elif '판씨네마' in x :
        return '판씨네마'
    elif '키다리' in x :
        return '키다리이엔티'
    elif '스마일이' in x :
        return '스마일이엔티'
    elif '팝엔' in x :
        return '팝엔터테인먼트' 
    elif '오퍼스' in x :
        return '오퍼스픽쳐스' 
    elif '와이드' in x :
        return '와이드릴리즈' 
    elif '오드' in x :
        return '오드' 
    elif '조이앤' in x :
        return '조이앤시네마' 
    elif '박수' in x :
        return '박수엔터테인먼트' 
    elif '찬란' in x :
        return '찬란'
    elif '얼리' in x :
        return '얼리버드'
    elif '영화사빅' in x :
        return '영화사빅'
    elif '에이스' in x :
        return '에이스메이커'
    elif '퍼스트런' in x :
        return '퍼스트런'
    elif 'MM' in x or 'M&M' in x:
        return 'MM인터내셔널'
    elif '드림웨스트' in x :
        return '드림웨스트픽쳐스'
    elif '홀리가든' in x :
        return '홀리가든'
    elif 'R&R' in x :
        return 'RR프로덕션'
    elif '머스트' in x :
        return '머스트씨무비'
    elif '블룸즈' in x :
        return '블룸즈베리'
    elif '모쿠' in x :
        return '모쿠슈라'
    elif '니버설' in x :
        return '유니버설픽쳐스'
    elif '시네마달' in x :
        return '시네마달'
    else :
        return x

In [808]:
df['배급사'] = df['배급사'].apply(get_dis)

In [809]:
df['배급사'].nunique()

115

In [810]:
df['배급사'].value_counts()[:10]

CJ                     118
롯데                      61
(주)넥스트엔터테인먼트월드(NEW)     59
쇼박스                     45
리틀빅픽처스                  30
메가박스                    25
인디스토리                   16
엣나인필름                   13
워너브라더스                   9
키다리이엔티                   6
Name: 배급사, dtype: int64

In [811]:
distributor_list = df['배급사'].value_counts()[:9]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

In [812]:
df['배급사'] = df['배급사'].apply(lambda x : func(x))

In [813]:
tr_dist_rank =df.groupby('배급사').audiAcc.median().reset_index(name = 'dist_rank').sort_values(by = 'dist_rank',ascending=False)
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스  2424330.0
0  (주)넥스트엔터테인먼트월드(NEW)  1599290.0
1                   CJ  1426615.0
3                   롯데  1110246.0
5                 메가박스   984265.0
8               워너브라더스   897548.0
4               리틀빅픽처스   112888.5
7                엣나인필름   103054.0
2                   기타     6984.0
9                인디스토리     2216.5

In [814]:
tr_dist_rank['dist_rank'] = [i + 1 for i in range(tr_dist_rank.shape[0])]
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스          1
0  (주)넥스트엔터테인먼트월드(NEW)          2
1                   CJ          3
3                   롯데          4
5                 메가박스          5
8               워너브라더스          6
4               리틀빅픽처스          7
7                엣나인필름          8
2                   기타          9
9                인디스토리         10

In [815]:
df = pd.merge(df, tr_dist_rank, how = 'left')

In [816]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사,dist_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629,0.0,121,롯데,4
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581,0.0,50,워너브라더스,6
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111,0.0,12,기타,9
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335,0.0,30,CJ,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987,1.0,73,CJ,3
574,574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2
575,575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413,1.0,148,롯데,4
576,576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147,1.0,32,엣나인필름,8
577,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0,295,CJ,3

## 장르 전처리

In [817]:
df[df['genre']=='기타']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사,dist_rank
187,187,인트로덕션,홍상수,"신석호, 박미소, 김영호, 기주봉, 예지원, 조소연, 서영화, 김민희, 조윤희, 하성국",기타,12세이상관람가,한국,91.0,6185.0,55369270.0,2021-05-27,50000000.0,142,1.0,10,기타,9

In [818]:
df.at[187, 'genre'] = '드라마'

In [819]:
df[df['genre']=='기타']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, star_buzz, Target, act_n, 배급사, dist_rank]
Index: []

In [820]:
df.groupby('genre').audiAcc.median().sort_values(ascending=False)

genre
어드벤처      8252669.0
사극        2022527.0
범죄        1736428.0
전쟁        1717566.0
액션        1654992.5
판타지       1535154.5
스릴러        621648.0
코미디        507257.0
미스터리       344667.5
멜로/로맨스     316780.0
공포(호러)     288016.0
SF         102170.0
드라마         95542.0
가족           8327.0
다큐멘터리        8138.5
뮤지컬          1027.0
Name: audiAcc, dtype: float64

In [821]:
df['genre_rank'] = df.genre.map({'뮤지컬' : 16,'다큐멘터리' : 15, '가족' : 14, '드라마' : 13, 'SF' : 12, '공포(호러)' : 11, '멜로/로맨스' : 10, '미스터리' : 9, '코미디':8,'스릴러':7,'판타지':6,'액션':5,'전쟁':4,'범죄':3,'사극':2,'어드벤처':1})

In [822]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사,dist_rank,genre_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629,0.0,121,롯데,4,5
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581,0.0,50,워너브라더스,6,13
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111,0.0,12,기타,9,13
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335,0.0,30,CJ,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987,1.0,73,CJ,3,13
574,574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13
575,575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413,1.0,148,롯데,4,1
576,576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147,1.0,32,엣나인필름,8,8
577,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0,295,CJ,3,13

## 등급 원핫(빼는게 좋은듯)

In [823]:
#df = pd.get_dummies(columns = ['등급'], data = df)

## 감독 전처리

In [824]:
df['directors'].nunique()

430

In [825]:
df['directors'].value_counts()[:100]

이준익    6
류승완    4
이병헌    4
정지우    4
이한     4
      ..
김주호    2
정병길    2
이혁종    2
김태곤    2
김태식    2
Name: directors, Length: 100, dtype: int64

In [826]:
director_list = df['directors'].value_counts()[:100]
def cont_func(director):
    if director in director_list:
        return director
    else:
        return '기타'

In [827]:
df['directors'] = df['directors'].apply(lambda x : cont_func(x))

In [828]:
tr_direct_rank = df.groupby('directors').audiAcc.mean().reset_index(name = 'direct_rank').sort_values(by = 'direct_rank', ascending=False)
tr_direct_rank

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
75       이혁종  3.986000e+03
34       박석영  2.908000e+03
3        고봉수  2.345250e+03
38       백승기  2.281000e+03
84       정형석  9.650000e+02

[101 rows x 2 columns]

In [829]:
tr_direct_rank[:70]

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
72       이철하  8.399023e+05
6         기타  8.121522e+05
83       정지우  7.794115e+05
11    김선, 김곡  7.134430e+05
14       김용완  6.491440e+05

[70 rows x 2 columns]

In [830]:
tr_direct_rank['direct_rank'] = [i + 1 for i in range(tr_direct_rank.shape[0])]
tr_direct_rank[tr_direct_rank['directors'] == '기타']

  directors  direct_rank
6        기타           67

In [831]:
df= pd.merge(df, tr_direct_rank, how = 'left')
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581,0.0,50,워너브라더스,6,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111,0.0,12,기타,9,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987,1.0,73,CJ,3,13,5
574,574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
575,575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413,1.0,148,롯데,4,1,5
576,576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147,1.0,32,엣나인필름,8,8,100
577,88,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0,295,CJ,3,13,67

In [844]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,star_buzz,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1629,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,581,0.0,50,워너브라더스,6,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,111,0.0,12,기타,9,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,335,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,573,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,1987,1.0,73,CJ,3,13,5
574,574,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
575,575,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,1413,1.0,148,롯데,4,1,5
576,576,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,147,1.0,32,엣나인필름,8,8,100
577,88,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,1830,1.0,295,CJ,3,13,67

In [832]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578 entries, 0 to 577
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        578 non-null    int64
 1   title        578 non-null    object
 2   directors    578 non-null    object
 3   actors       578 non-null    object
 4   genre        578 non-null    object
 5   등급           578 non-null    object
 6   국적           578 non-null    object
 7   screenCnt    578 non-null    float64
 8   audiAcc      578 non-null    float64
 9   salesAcc     578 non-null    float64
 10  개봉일          578 non-null    object
 11  제작비          578 non-null    float64
 12  star_buzz    578 non-null    int64
 13  Target       578 non-null    float64
 14  act_n        578 non-null    object
 15  배급사          578 non-null    object
 16  dist_rank    578 non-null    int64
 17  genre_rank   578 non-null    int64
 18  direct_rank  578 non-null    int64
dtypes: float64(5), int64(5), object(9)
memory usage: 90.3+ KB

In [833]:
#df_fin = df.drop(['title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','등급','index','제작비'], axis=1)

In [845]:
df_fin = df.drop(['screenCnt','title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','index','제작비','등급'], axis=1)

In [846]:
df_fin.corr()

             star_buzz    Target  dist_rank  genre_rank  direct_rank
star_buzz     1.000000  0.439971  -0.582031   -0.385046    -0.599071
Target        0.439971  1.000000  -0.398611   -0.215196    -0.313911
dist_rank    -0.582031 -0.398611   1.000000    0.367047     0.404985
genre_rank   -0.385046 -0.215196   0.367047    1.000000     0.315066
direct_rank  -0.599071 -0.313911   0.404985    0.315066     1.000000

In [836]:
df_fin['Target'].value_counts()

1.0    302
0.0    276
Name: Target, dtype: int64

In [837]:
#df_fin['act_n'] = df_fin['act_n'].astype('int')
#df_fin['act_n'] = np.log1p(df_fin['act_n']) #로그변환
#df_fin['screenCnt'] = df_fin['screenCnt'].astype('int')
#df_fin['screenCnt'] = np.log1p(df_fin['screenCnt']) #로그변환
#df_fin['dist_rank'] = df_fin['dist_rank'].astype('int')
#df_fin['dist_rank'] = np.log1p(df_fin['dist_rank']) #로그변환
#df_fin['genre_rank'] = df_fin['genre_rank'].astype('int')
#df_fin['genre_rank'] = np.log1p(df_fin['genre_rank']) #로그변환
#df_fin['direct_rank'] = df_fin['direct_rank'].astype('int')
#df_fin['direct_rank'] = np.log1p(df_fin['direct_rank']) #로그변환
#df_fin['star_buzz'] = df_fin['star_buzz'].astype('int')
#df_fin['star_buzz'] = np.log1p(df_fin['star_buzz']) #로그변환

# 모델링

## train_test_split

In [838]:
y = df_fin['Target']
x = df_fin.drop('Target', axis=1)

In [839]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=100)

In [840]:
# 정규화
from sklearn.preprocessing import StandardScaler
 
sc = StandardScaler()
sc.fit(X_train)
 
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

## logistic regression

In [841]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [842]:
model = LogisticRegression(penalty = 'l2')
model.fit(X_train_std, y_train)
y_pred = model.predict(X_test_std)
accuracy_score(y_pred, y_test)

0.7241379310344828

In [853]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
# XGBClassifier 객체 생성
xgb_clf = XGBClassifier(n_estimators=100, random_state=156)

# 학습 : 성능 평가 지표를 auc로 설정하고 학습 수행. 
xgb_clf.fit(X_train, y_train, early_stopping_rounds=30,
            # 원래 검증 셋은 test 말고 다른 데이터 셋으로 해야하지만 여기서는 그냥 test 셋으로 진행함
            eval_metric="auc", eval_set=[(X_train, y_train), (X_test, y_test)]) #학습, 검증
#왼쪽이 학습하면서 정확도를 알려줌, 오른쪽은 학습한것에 대한 검증한것

C:\Users\Seo\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

ValueError: DataFrame.dtypes for data must be int, float, bool or category.  When
                categorical type is supplied, DMatrix parameter `enable_categorical` must
                be set to `True`.act_n

In [849]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [850]:
gbc = GradientBoostingClassifier(random_state=100, max_depth=3, learning_rate=0.01) 
gbc.fit(X_train, y_train)
score_train = gbc.score(X_train, y_train)
score_test = gbc.score(X_test, y_test)
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test), multi_class="ovr",average='macro')
print('ROC AUC: {0:.4f}'.format(xgb_roc_score))
print('정확도{:.4f}'.format(accuracy_score(y_pred, y_test)))

NameError: name 'xgb_clf' is not defined