## list length

In [12]:
### Naver Developers - Open API
import urllib
# Open API 사용 요청
client_id = 'PG3kwbDlhgk80hJqt_Ob'
client_secret = 'fbMT9Q0JGb'


def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    return cleantext

def search_title(title):
    encText = urllib.parse.quote(title)
    url = 'https://openapi.naver.com/v1/search/movie.json?display=100&query=' + encText
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        d = json.loads(response_body.decode('utf-8'))
        if (len(d['items']) > 0):
            return d['items']
        else:
            return None

    else:
        print("Error Code:" + rescode)

In [13]:
data = pd.read_excel("data_merge.xlsx")
data

,Column1,title,directors,actors,plots,genre,runtime,keywords,등급,개봉일,국적,screenCnt,salesAcc,audiAcc
0,1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,2018-09-12,한국,1183,6104164954,723414
1,2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,2017-02-22,한국,576,2685519021,351276
2,3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리","“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",애니메이션,90,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주",전체관람가,2018-10-09,일본,214,174140400,21153
3,4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,판타지,81,"괴물,성에 갇힌 남녀,감옥탈출",15세이상관람가,2018-11-11,미국,1,1000,1
4,5,툴리,제이슨 라이트먼,"샤를리즈 테론, 맥켄지 데이비스, 마크 듀플래스, 론 리빙스턴, 엘피나 룩","“아이만이 아니에요, 당신을 돌보러 왔어요”‘지금’의 ‘마를로’에게 찾아온 가장 소...",드라마,95,"산후우울증,육아 스트레스,유모,분열된자아",15세이상관람가,2018-11-22,캐나다,161,302483000,37241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5103,6376,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠","유명 첨단 기술회사인 와이어트사 말단직원, 아담 캐시디(리암 헴스워스)는 밑바닥에서...",드라마,106,NaN,15세이상관람가,2014-09-18,미국,1,8000,1
5104,6377,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁","Chapter 1 단풍맞이 단합대회 단풍놀이가 한창인 가을, 어설픈 산악인 상...",코미디,100,"고백,허세,내숭,현실연애,옴니버스영화",15세이상관람가,2014-12-04,한국,5,7368000,1074
5105,6378,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",액션,87,NaN,15세이상관람가,2015-01-05,미국,2,32000,4
5106,6379,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,SF,89,"돌연변이,공격,상어,죽음,자연",15세이상관람가,2014-12-11,미국,5,1708000,426
5107,6380,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...","재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",공포(호러),86,"실종,터널,3D",15세이상관람가,2014-08-20,한국,264,620874000,80989

In [14]:
df = data["title"]
df

0             물괴
1          싱글라이더
2        리즈와 파랑새
3          레드 후드
4             툴리
          ...
5103       파라노이아
5104    춘하추동 로맨스
5105     4명의 암살자
5106        변종샤크
5107       터널 3D
Name: title, Length: 5108, dtype: object

In [15]:
code_lst = []
title_lst = []

for i in range(0, len(df)):
    try:
        keyword = df[i]
        m = search_title(keyword)

        link_lst = []
        title_lst_tag = []

        for k in range(0,len(m)):
            link_lst.append(m[k]['link'])
            spl = str(link_lst).split("=")
            it = spl[1]
            code = str(it).split("'")
            code_lst.append(code[0])
            
        for i in range(0, len(m)):
            title_lst_tag.append(m[i]['title'])
            title = title_lst_tag[0]
            title_lst.append(title)

    except:
        code_lst.append("nan")
        title_lst.append("nan")

In [ ]:
code_lst

In [ ]:
title_lst

## code

In [6]:
date_list = []
rating_list = []

# test
for page in range(1, 10):
    try:
        url = f'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=132996&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=sympathyScore&page={page}'
        html = urlopen(url)
        soup = BeautifulSoup(html,'html.parser')
        
        for i in range(10):
            date = soup.select('dt > em')
            date = date[i+i+1].get_text().split(" ")[0]
            date_list.append(date)
            
            rating = soup.select('div > em')
            rating = rating[i].get_text()
            rating_list.append(rating)

    except:
        pass


print(len(date_list))
print(date_list)
print(len(rating_list))
print(rating_list)

90
['2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.14', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.14', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.15', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.14', '2018.09.13', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.12', '2018.09.13', '2018.09.12', '2018.09.12', '2018.09.19', '2018.09.14', '2018.09.12', '2018.09.14', '2018.09.12', '2018.09.14', '2018.09.15', '2018.09.14', '2018.09.12', '2018.09.13']
90
['1', '4', '1', '1', '1', '1', '4', '1', '1', '1', '1', '1', '1', '1', '2', '1', '4', '1', '1', '4', '8', '4', '1', '2', '1', '2', '1', '1', '1', '10', '2', '1', '1', '1', '1', '2', '1', '1', '4', '2', '7', '1', '1', '2', '1', '2', '2', '1', '1', '1', '6', '6', '1', '1', '1', '1', '1', '1', '1', '1', '3', '1', '1', '1', '1', '1', '1', '2', '1', '1', '1', '8', '2', '1', '1', '6', '4', '6', '1', '1', '1', '1', '4', '2', '1', '2', '1', '4', '1', '1']

In [7]:
df = pd.DataFrame({"date":date_list, "ratings": rating_list})
df

          date ratings
0   2018.09.12       1
1   2018.09.12       4
2   2018.09.12       1
3   2018.09.12       1
4   2018.09.12       1
..         ...     ...
85  2018.09.14       2
86  2018.09.15       1
87  2018.09.14       4
88  2018.09.12       1
89  2018.09.13       1

[90 rows x 2 columns]