In [1]:
import pandas as pd

# kmdb불러오기

In [279]:
df_kmdb = pd.read_csv('KMDB_ALL_AFTER.csv')

In [280]:
df_kmdb

,Unnamed: 0,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,kmdbUrl,keywords,screenCnt,salesAcc,audiAcc
0,0,칠복성,1985,홍금보,"성룡, 원표, 유덕화, 관지림, 호혜중, 양자경",홍콩,"괴짜 경찰관들로 이루어진 '오복성'(홍금보, 오요한, 증자위, 빙쉬범, 진상림)은,...",98.0,NaN,"액션,코메디,무협",https://www.kmdb.or.kr/db/kor/detail/movie/F/0...,"대만,마약조직,살인청부업자,일본,홍콩경찰,휴가,속편,시리즈",NaN,NaN,NaN
1,1,스왈로 탐험대와 아마존 해적,2016,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",영국,“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,전체관람가,"가족,어드벤처,드라마,전쟁",https://www.kmdb.or.kr/db/kor/detail/movie/F/4...,"여름휴가,외딴섬,아이들,모험,소설원작",NaN,NaN,NaN
2,2,물괴,2017,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",대한민국,“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,15세관람가,"액션,시대극/사극",https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"조선시대,전염병,괴물,시대극/사극,사투",NaN,NaN,NaN
3,3,싱글라이더,2016,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",대한민국,그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,97.0,15세관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",NaN,NaN,NaN
4,4,리즈와 파랑새,2018,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",일본,"“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",90.0,전체관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/F/4...,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9765,9765,쎄븐플로어,2013,파트시 아메즈쿠아,"리카도 다린, 벨렌 루에다",스페인,출근길 남매를 유괴당한 아버지가 우연히 찾은 단서들을 통해 사건에 얽힌 진실을 밝혀...,88.0,15세관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN,NaN,NaN,NaN
9766,9766,4명의 암살자,2011,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","미국,홍콩","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",87.0,15세관람가,스릴러,https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN,NaN,NaN,NaN
9767,9767,변종샤크,2011,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",미국,돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,89.0,15세관람가,"SF,공포",https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,"돌연변이,공격,상어,죽음,자연",NaN,NaN,NaN
9768,9768,터널 3D,2014,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",대한민국,"재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",86.0,15세관람가,공포,https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"실종,터널,3D",NaN,NaN,NaN
9769,9769,쿠폰의 여왕,2021,"아론 고뎃, 기타 펄라필리","크리스틴 벨, 커비 하웰-밥티스트, 폴 월터 하우저, 베베 렉사, 빈스 본",미국,쿠폰으로 돈 벌기? ㄴㄴ쿠폰으로 백만장자되기? ㅇㅇ에르X스부터 람보X기니까지 공짜 ...,110.0,NaN,"코메디,범죄",https://www.kmdb.or.kr/db/kor/detail/movie/F/5...,NaN,NaN,NaN,NaN

## kmdb 전처리

In [281]:
df_kmdb = df_kmdb.drop(['Unnamed: 0', 'kmdbUrl','screenCnt','salesAcc','audiAcc'], axis=1)

In [286]:
df_kmdb

,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,keywords
1,스왈로 탐험대와 아마존 해적,2016,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",영국,“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,전체관람가,"가족,어드벤처,드라마,전쟁","여름휴가,외딴섬,아이들,모험,소설원작"
2,물괴,2017,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",대한민국,“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,15세관람가,"액션,시대극/사극","조선시대,전염병,괴물,시대극/사극,사투"
3,싱글라이더,2016,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",대한민국,그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,97.0,15세관람가,드라마,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물"
4,리즈와 파랑새,2018,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",일본,"“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",90.0,전체관람가,드라마,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주"
5,레드 후드,2016,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",미국,편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,81.0,15세관람가,"판타지,공포","괴물,성에 갇힌 남녀,감옥탈출"
...,...,...,...,...,...,...,...,...,...,...
9765,쎄븐플로어,2013,파트시 아메즈쿠아,"리카도 다린, 벨렌 루에다",스페인,출근길 남매를 유괴당한 아버지가 우연히 찾은 단서들을 통해 사건에 얽힌 진실을 밝혀...,88.0,15세관람가,드라마,NaN
9766,4명의 암살자,2011,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","미국,홍콩","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",87.0,15세관람가,스릴러,NaN
9767,변종샤크,2011,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",미국,돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,89.0,15세관람가,"SF,공포","돌연변이,공격,상어,죽음,자연"
9768,터널 3D,2014,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",대한민국,"재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",86.0,15세관람가,공포,"실종,터널,3D"
9769,쿠폰의 여왕,2021,"아론 고뎃, 기타 펄라필리","크리스틴 벨, 커비 하웰-밥티스트, 폴 월터 하우저, 베베 렉사, 빈스 본",미국,쿠폰으로 돈 벌기? ㄴㄴ쿠폰으로 백만장자되기? ㅇㅇ에르X스부터 람보X기니까지 공짜 ...,110.0,NaN,"코메디,범죄",NaN

In [283]:
df_kmdb.columns

Index(['title', 'prodYear', 'directors', 'actors', 'nation', 'plots',
       'runtime', 'rating', 'genre', 'keywords'],
      dtype='object')

In [284]:
df_kmdb.isnull().sum()

title           0
prodYear        0
directors      36
actors        470
nation         11
plots         139
runtime        40
rating        419
genre          59
keywords     3784
dtype: int64

In [285]:
df_kmdb= df_kmdb.drop(df_kmdb[df_kmdb['prodYear'] < 2010.0].index) # 2010년 이전 영화 삭제

In [287]:
df_kmdb['title']=df_kmdb['title'].str.strip() # 제목에 있는 공백 없애주기

In [288]:
df_kmdb = df_kmdb.drop(df_kmdb[df_kmdb['genre']=='에로'].index)

In [289]:
df_kmdb.isnull().sum()

title           0
prodYear        0
directors      32
actors        344
nation         10
plots         126
runtime        34
rating        336
genre          49
keywords     3497
dtype: int64

# kobis 불러오기

In [368]:
df_kobis= pd.read_excel('KOBIS_개봉일람.xlsx')

In [369]:
df_kobis

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국,전국.1,전국.2,서울,서울.1,장르,등급,영화구분
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,(주)씨제이이엔엠,2014-07-30,개봉영화,장편,한국,1587,135748398910,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화
1,2,극한직업,이병헌,"(주)어바웃필름,영화사 해그림 주식회사,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2019-01-23,개봉영화,장편,한국,1978,139647979516,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화
2,3,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,1912,115698654137,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화
3,4,국제시장,윤제균,"(주)제이케이필름,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2014-12-17,개봉영화,장편,한국,966,110828014630,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화
4,5,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,2835,122182694160,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15909,15910,VJ의 은밀한 사생활,오카다 히로,NaN,(주)영진크리에이티브,(주)영진크리에이티브,2017-12-25,개봉영화,장편,일본,1,6000,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,일반영화
15910,15911,av감독의 아내,쿠도 마사노리,NaN,(주)도키엔터테인먼트,(주)도키엔터테인먼트,2016-12-22,개봉영화,장편,일본,1,8000,1,0.000000e+00,0,성인물(에로),청소년관람불가,일반영화
15911,15912,만화방,허재형,(주)영진크리에이티브,NaN,(주)영진크리에이티브,2012-02-29,개봉영화,장편,한국,0,0,0,0.000000e+00,0,코미디,청소년관람불가,일반영화
15912,15913,클래쉬,레 탄 선,NaN,(주)소나무픽쳐스,(주)소나무픽쳐스,2011-08-11,개봉영화,장편,베트남,0,0,0,0.000000e+00,0,액션,청소년관람불가,일반영화
15913,15914,트루 저스티스,NaN,NaN,NaN,(주)소나무픽쳐스,2011-06-30,개봉영화,장편,미국,0,0,0,0.000000e+00,0,스릴러,15세이상관람가,일반영화

## kobis 전처리

In [370]:
df_kobis.rename(columns={'영화명':'title'}, inplace=True)

In [371]:
# 알아보기 쉽게 칼럼이름 변경
df_kobis.rename(columns={'전국':'전국 스크린','전국.1':'전국 매출액','전국.2':'전국 관객수','서울':'서울 매출액','서울.1':'서울 관객수'}, inplace=True)

In [372]:
df_kobis['title']=df_kobis['title'].str.strip() # 제목에 있는 공백 없애기

In [373]:
df_kobis.isnull().sum() # title에 na값 10개 있는 것을 발견

순번            0
title        10
감독         1035
제작사       10618
수입사        6019
배급사          21
개봉일           0
영화유형          0
영화형태          1
국적            0
전국 스크린        0
전국 매출액        0
전국 관객수        0
서울 매출액        7
서울 관객수        0
장르           71
등급            0
영화구분          0
dtype: int64

In [374]:
# title에 있는 na값 10개 처리하기

In [375]:
df_kobis.at[42, 'title'] = '1987'

In [376]:
df_kobis.at[584, 'title'] = '1917'

In [377]:
df_kobis.at[1996, 'title'] = '355'

In [378]:
df_kobis.at[2224, 'title'] = '33'

In [379]:
df_kobis.at[2674, 'title'] = '800'

In [380]:
df_kobis.at[3523, 'title'] = '2012'

In [381]:
df_kobis.at[4604, 'title'] = '22'

In [382]:
df_kobis.at[6137, 'title'] = '2967'

In [383]:
df_kobis.at[5708, 'title'] = '1944'

In [384]:
df_kobis.at[8840, 'title'] = '8840'

In [385]:
df_kobis = df_kobis.drop(df_kobis[df_kobis['장르']=='성인물(에로)'].index) # 성인물 제거

In [386]:
df_kobis.isna().sum()

순번           0
title        0
감독         794
제작사       9021
수입사       5594
배급사         12
개봉일          0
영화유형         0
영화형태         0
국적           0
전국 스크린       0
전국 매출액       0
전국 관객수       0
서울 매출액       7
서울 관객수       0
장르          71
등급           0
영화구분         0
dtype: int64

# merge하기

In [410]:
df = pd.merge(df_kmdb, df_kobis, how = 'inner', on='title')

In [411]:
df

,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,keywords,...,영화형태,국적,전국 스크린,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분
0,스왈로 탐험대와 아마존 해적,2016,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",영국,“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,전체관람가,"가족,어드벤처,드라마,전쟁","여름휴가,외딴섬,아이들,모험,소설원작",...,장편,영국,1,50000,10,0.000000e+00,0,어드벤처,전체관람가,일반영화
1,물괴,2017,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",대한민국,“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,15세관람가,"액션,시대극/사극","조선시대,전염병,괴물,시대극/사극,사투",...,장편,한국,1183,6104164954,723414,1.317228e+09,149475,액션,15세이상관람가,일반영화
2,싱글라이더,2016,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",대한민국,그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,97.0,15세관람가,드라마,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",...,장편,한국,576,2685519021,351276,9.457828e+08,119087,드라마,15세이상관람가,일반영화
3,리즈와 파랑새,2018,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",일본,"“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",90.0,전체관람가,드라마,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주",...,장편,일본,214,174140400,21153,7.560290e+07,9027,애니메이션,전체관람가,독립/예술영화
4,레드 후드,2016,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",미국,편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,81.0,15세관람가,"판타지,공포","괴물,성에 갇힌 남녀,감옥탈출",...,장편,미국,1,1000,1,1.000000e+03,1,판타지,15세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6840,파라노이아,2013,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠","미국,프랑스","유명 첨단 기술회사인 와이어트사 말단직원, 아담 캐시디(리암 헴스워스)는 밑바닥에서...",106.0,15세관람가,"드라마,스릴러",NaN,...,장편,미국,1,8000,1,8.000000e+03,1,드라마,15세이상관람가,일반영화
6841,춘하추동 로맨스,2014,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁",대한민국,"Chapter 1 단풍맞이 단합대회 단풍놀이가 한창인 가을, 어설픈 산악인 상...",100.0,15세관람가,"코메디,드라마,멜로/로맨스","고백,허세,내숭,현실연애,옴니버스영화",...,장편,한국,5,7368000,1074,3.314000e+06,450,코미디,15세이상관람가,독립/예술영화
6842,4명의 암살자,2011,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","미국,홍콩","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",87.0,15세관람가,스릴러,NaN,...,장편,미국,2,32000,4,1.400000e+04,2,액션,15세이상관람가,일반영화
6843,변종샤크,2011,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",미국,돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,89.0,15세관람가,"SF,공포","돌연변이,공격,상어,죽음,자연",...,장편,미국,5,1708000,426,1.238000e+06,272,SF,15세이상관람가,일반영화
6844,터널 3D,2014,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",대한민국,"재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",86.0,15세관람가,공포,"실종,터널,3D",...,장편,한국,264,620874000,80989,1.419245e+08,17219,공포(호러),15세이상관람가,일반영화

In [412]:
df.shape

(6845, 27)

In [413]:
df.isnull().sum() # prodYear, directors, nation, genre, rating drop하기

title           0
prodYear        0
directors      20
actors        264
nation          8
plots          97
runtime         7
rating         70
genre          55
keywords     2582
순번              0
감독            351
제작사          4767
수입사          2163
배급사             1
개봉일             0
영화유형            0
영화형태            0
국적              0
전국 스크린          0
전국 매출액          0
전국 관객수          0
서울 매출액          1
서울 관객수          0
장르              2
등급              0
영화구분            0
dtype: int64

In [414]:
df = df.drop(['prodYear','감독', 'nation', 'genre', 'rating','서울 매출액','서울 관객수','순번'], axis=1) # 불필요해보이는 칼럼 삭제하기

In [415]:
# 제작사, 수입사, 배급사가 의미가 있는가?

In [416]:
df = df.drop(['제작사','수입사'], axis=1) # 제작사, 수입사 na값이 많아 제거하고 배급사는 하나 밖에없어서 일단 냅둠

In [417]:
df.isnull().sum()

title           0
directors      20
actors        264
plots          97
runtime         7
keywords     2582
배급사             1
개봉일             0
영화유형            0
영화형태            0
국적              0
전국 스크린          0
전국 매출액          0
전국 관객수          0
장르              2
등급              0
영화구분            0
dtype: int64

In [418]:
df[df['배급사'].isna()] # na값 하나 있는 배급사 찾기

,title,directors,actors,plots,runtime,keywords,배급사,개봉일,영화유형,영화형태,국적,전국 스크린,전국 매출액,전국 관객수,장르,등급,영화구분
3079,출국,노규엽,"이범수, 연우진, 박혁권, 박주미, 이현정, 김보민, 로버트 미카, 전무송, 남문철...","서로가 서로를 감시하는 곳, 1986년 베를린 한순간의 실수로 모두의 타겟이 된 남...",105.0,"타겟,북한공작원,국경탈출,잃어버린 가족,감시,베를린,동유럽",NaN,2018-11-14,개봉영화,장편,한국,274,639521850,81722,드라마,15세이상관람가,독립/예술영화

In [419]:
df.at[3079,'배급사'] = '트리플픽쳐스' # 비어있는 배급사 넣어주기

In [420]:
df[df['배급사'].isna()] # 확인하기

Empty DataFrame
Columns: [title, directors, actors, plots, runtime, keywords, 배급사, 개봉일, 영화유형, 영화형태, 국적, 전국 스크린, 전국 매출액, 전국 관객수, 장르, 등급, 영화구분]
Index: []

In [421]:
df[df['장르'].isna()] # na값 두개 있는 장르 찾기

,title,directors,actors,plots,runtime,keywords,배급사,개봉일,영화유형,영화형태,국적,전국 스크린,전국 매출액,전국 관객수,장르,등급,영화구분
2100,그녀의 가족은 잘못이 없어,김헌,"조주경, 남태우, 한승우, 김모범, 고연아, 민재경, 이송이, 최재성",가족 뒷바라지에 지친 경숙을 지탱해주는 버팀목은 ´주님´ 뿐이다. 맹목적 신앙심을 ...,99.0,NaN,이상우필름,2021-10-14,개봉영화,장편,한국,2,90500,22,NaN,15세이상관람가,독립/예술영화
4448,여자감옥,타케호라 테츠야,"고하쿠우타, 아이가나데, 야스카와 유카",살인자들의 섬에서 벌어지는 충격 복수극이 섬을 빠져나가지 않으면 죽는다!202X 년...,74.0,"관리,누명,섬,죄수,복수",(주)수키픽쳐스,2013-07-10,개봉영화,장편,일본,1,250000,50,NaN,청소년관람불가,일반영화

In [422]:
df.at[2100,'장르'] = '드라마' # 비어있는 장르 넣어주기

In [423]:
df = df.drop([df.index[4448]])# 여자 감옥이라는 영화는 성인물이라 drop하기

In [424]:
df[df['장르'].isna()] # 확인하기

Empty DataFrame
Columns: [title, directors, actors, plots, runtime, keywords, 배급사, 개봉일, 영화유형, 영화형태, 국적, 전국 스크린, 전국 매출액, 전국 관객수, 장르, 등급, 영화구분]
Index: []

In [432]:
df[df.duplicated()]

Empty DataFrame
Columns: [title, directors, actors, plots, runtime, keywords, 배급사, 개봉일, 영화유형, 영화형태, 국적, 전국 스크린, 전국 매출액, 전국 관객수, 장르, 등급, 영화구분]
Index: []

In [408]:
df.isna().sum()

title           0
directors      20
actors        264
plots          97
runtime         7
keywords     2582
배급사             0
개봉일             0
영화유형            0
영화형태            0
국적              0
전국 스크린          0
전국 매출액          0
전국 관객수          0
장르              0
등급              0
영화구분            0
dtype: int64

In [398]:
df.shape

(6845, 17)

In [395]:
df.describe()

           runtime       전국 스크린        전국 매출액        전국 관객수
count  6838.000000  6845.000000  6.845000e+03  6.845000e+03
mean    102.562299   178.773996  2.282534e+09  2.853749e+05
std      21.716150   309.896928  8.921378e+09  1.109115e+06
min      36.000000     0.000000  0.000000e+00  0.000000e+00
25%      89.000000     5.000000  3.271900e+06  4.670000e+02
50%     100.000000    38.000000  3.543800e+07  4.682000e+03
75%     114.000000   216.000000  3.666424e+08  4.685400e+04
max     328.000000  2948.000000  1.396480e+11  1.761368e+07

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6845 entries, 0 to 6844
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      6845 non-null   object
 1   directors  6825 non-null   object
 2   actors     6581 non-null   object
 3   plots      6748 non-null   object
 4   runtime    6838 non-null   float64
 5   keywords   4263 non-null   object
 6   배급사        6844 non-null   object
 7   개봉일        6845 non-null   datetime64[ns]
 8   영화유형       6845 non-null   object
 9   영화형태       6845 non-null   object
 10  국적         6845 non-null   object
 11  전국 스크린     6845 non-null   int64
 12  전국 매출액     6845 non-null   int64
 13  전국 관객수     6845 non-null   int64
 14  장르         6843 non-null   object
 15  등급         6845 non-null   object
 16  영화구분       6845 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(12)
memory usage: 962.6+ KB

In [397]:
df

,title,directors,actors,plots,runtime,keywords,배급사,개봉일,영화유형,영화형태,국적,전국 스크린,전국 매출액,전국 관객수,장르,등급,영화구분
0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,"여름휴가,외딴섬,아이들,모험,소설원작",(주)나이너스엔터테인먼트,2021-09-02,개봉영화,장편,영국,1,50000,10,어드벤처,전체관람가,일반영화
1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,"조선시대,전염병,괴물,시대극/사극,사투","롯데컬처웍스(주)롯데엔터테인먼트,(주)키다리이엔티",2018-09-12,개봉영화,장편,한국,1183,6104164954,723414,액션,15세이상관람가,일반영화
2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",워너브러더스 코리아(주),2017-02-22,개봉영화,장편,한국,576,2685519021,351276,드라마,15세이상관람가,일반영화
3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리","“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",90.0,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주","(주)디스테이션,플레이리스트(주)",2018-10-09,개봉영화,장편,일본,214,174140400,21153,애니메이션,전체관람가,독립/예술영화
4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,81.0,"괴물,성에 갇힌 남녀,감옥탈출",(주)케이알씨지,2018-11-11,개봉영화,장편,미국,1,1000,1,판타지,15세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6840,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠","유명 첨단 기술회사인 와이어트사 말단직원, 아담 캐시디(리암 헴스워스)는 밑바닥에서...",106.0,NaN,(주)누리픽쳐스,2014-09-18,개봉영화,장편,미국,1,8000,1,드라마,15세이상관람가,일반영화
6841,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁","Chapter 1 단풍맞이 단합대회 단풍놀이가 한창인 가을, 어설픈 산악인 상...",100.0,"고백,허세,내숭,현실연애,옴니버스영화",주식회사 노버스엔터테인먼트,2014-12-04,개봉영화,장편,한국,5,7368000,1074,코미디,15세이상관람가,독립/예술영화
6842,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",87.0,NaN,(주)케이알씨지,2015-01-05,개봉영화,장편,미국,2,32000,4,액션,15세이상관람가,일반영화
6843,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,89.0,"돌연변이,공격,상어,죽음,자연",스크린조이,2014-12-11,개봉영화,장편,미국,5,1708000,426,SF,15세이상관람가,일반영화
6844,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...","재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",86.0,"실종,터널,3D",(주)박수엔터테인먼트,2014-08-20,개봉영화,장편,한국,264,620874000,80989,공포(호러),15세이상관람가,일반영화