# 회귀분석

In [4]:
import pandas as pd

In [62]:
df_reg = pd.read_csv('data_merge수정2.csv')

In [63]:
df_reg = df_reg.drop(['Unnamed: 0','runtime','keywords','plots'], axis=1)

In [64]:
df_reg['act_n'] = df_reg['actors'].str.split(',')

In [65]:
# 영화당 배우 수 
for i in range(len(df_reg['act_n'])):
    df_reg.loc[i,'act_n'] = len(df_reg['act_n'][i])

## 배급사 합치기

In [66]:
df2_reg = pd.read_excel('../data/KOBIS_개봉일람.xlsx')

In [67]:
df2_reg = df2_reg.drop(['순번', '감독', '제작사', '수입사', '개봉일', '영화유형', '영화형태', '국적',
       '전국', '전국.1', '전국.2', '서울', '서울.1', '장르', '등급', '영화구분'], axis=1)

In [68]:
df2_reg.rename(columns={'영화명':'title'}, inplace=True)

In [69]:
df2_reg = df2_reg.drop_duplicates()

In [70]:
df3_reg = pd.merge(df_reg,df2_reg, how='left', on='title' )

In [71]:
df3_reg = df3_reg.drop_duplicates('title', keep='first')

In [72]:
df3_reg

,title,directors,actors,genre,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사
0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",어드벤처,전체관람가,2021-09-02,영국,1,5.000000e+04,10,5,(주)나이너스엔터테인먼트
1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,2018-09-12,한국,1183,6.104165e+09,723414,121,"롯데컬처웍스(주)롯데엔터테인먼트,(주)키다리이엔티"
2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,2017-02-22,한국,576,2.685519e+09,351276,50,워너브러더스 코리아(주)
3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",애니메이션,전체관람가,2018-10-09,일본,214,1.741404e+08,21153,5,"(주)디스테이션,플레이리스트(주)"
4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",판타지,15세이상관람가,2018-11-11,미국,1,1.000000e+03,1,5,(주)케이알씨지
...,...,...,...,...,...,...,...,...,...,...,...,...
6547,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠",드라마,15세이상관람가,2014-09-18,미국,1,8.000000e+03,1,5,(주)누리픽쳐스
6548,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁",코미디,15세이상관람가,2014-12-04,한국,5,7.368000e+06,1074,7,주식회사 노버스엔터테인먼트
6549,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드",액션,15세이상관람가,2015-01-05,미국,2,3.200000e+04,4,3,(주)케이알씨지
6550,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",SF,15세이상관람가,2014-12-11,미국,5,1.708000e+06,426,2,스크린조이
6551,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",공포(호러),15세이상관람가,2014-08-20,한국,264,6.208740e+08,80989,84,(주)박수엔터테인먼트

## 배급사 전처리

In [73]:
df3_reg['배급사']=df3_reg['배급사'].astype('str')

In [74]:
df3_reg[df3_reg['배급사']=='nan']

,title,directors,actors,genre,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사
93,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,2017-12-27,한국,1299,5.816558e+10,7231638,295,nan
327,22,구오커,"박차순, 린아이란, 리메이진, 리아이롄",다큐멘터리,전체관람가,2018-08-14,한국,31,1.866800e+07,2434,4,nan
2399,355,사이먼 킨버그,"제시카 차스테인, 다이안 크루거, 페넬로페 크루즈, 루피타 뇽, 판빙빙",액션,15세이상관람가,2022-02-09,미국,540,3.836136e+08,42951,5,nan
2417,2067,세스 라니,"코디 스밋-맥피, 라이언 콴튼, 다미안 월셔 하울링, 리안나 월스먼, 에런 글레낸,...",어드벤처,12세이상관람가,2021-06-03,호주,36,4.647600e+06,509,6,nan
2610,800,관후,"어우 하오, 두순, 장유호, 당예흔, 강무, 야오천, 황지충",전쟁,15세이상관람가,2020-12-10,중국,223,1.416982e+08,16625,7,nan
2820,1917,샘 맨데스,"조지 맥케이, 딘-찰스 채프먼, 콜린 퍼스, 베네딕 컴버배치, 마크 스트롱, 앤드류...",드라마,15세이상관람가,2020-02-19,미국,932,7.872003e+09,870451,8,nan
2861,출국,노규엽,"이범수, 연우진, 박혁권, 박주미, 이현정, 김보민, 로버트 미카, 전무송, 남문철...",드라마,15세이상관람가,2018-11-14,한국,274,6.395218e+08,81722,54,nan
5604,33,파트리샤 리겐,"안토니오 반데라스, 로드리고 산토로, 줄리엣 비노쉬, 제임스 브로딘, 루 다이아몬드...",드라마,12세이상관람가,2016-04-07,미국,320,2.283514e+08,29728,6,nan

In [75]:
df3_reg.at[2861, '배급사'] = '트리플픽쳐스'
df3_reg.at[2820, '배급사'] = '스파일이엔트'
df3_reg.at[5604, '배급사'] = '나이너스엔터테인먼트'
df3_reg.at[2399, '배급사'] = '제이앤씨미디어그룹'
df3_reg.at[2417, '배급사'] = '예지림엔터테인먼트'
df3_reg.at[2610, '배급사'] = '더콘텐츠온'
df3_reg.at[327, '배급사'] = '메가박스'
df3_reg.at[93, '배급사'] = 'CJ'

In [76]:
df3_reg[df3_reg['배급사']=='nan']

Empty DataFrame
Columns: [title, directors, actors, genre, 등급, 개봉일, 국적, screenCnt, salesAcc, audiAcc, act_n, 배급사]
Index: []

In [77]:
df3_reg['배급사'].value_counts()

(주)씨제이이엔엠              182
유니버설픽쳐스인터내셔널 코리아(유)    169
(주)팝엔터테인먼트             153
롯데쇼핑㈜롯데엔터테인먼트          151
(주)넥스트엔터테인먼트월드(NEW)    147
                      ...
(주)이수C&E,(주)콘텐츠판다        1
(주)인터오리진아이엔씨             1
주식회사 미콘                  1
(주)영화사 안다미로,오드           1
목영이엔엠,(주)다자인소프트          1
Name: 배급사, Length: 802, dtype: int64

In [78]:
df3_reg['배급사'] = df3_reg['배급사'].str.replace('㈜','')

In [79]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x or '씨제이' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x or '에스케이' in x:
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    elif '롯데' in x :
        return '롯데'
    elif 'KBS' in x :
        return 'KBS'
    elif '제이앤씨미디어그룹' in x :
        return '제이앤씨미디어그룹'
    elif '월트디즈니' in x :
        return '월트디즈니'
    elif '그린나래' in x :
        return '그린나래'
    elif 'KTG상상마당' in x or 'KT'in x :
        return 'KTG상상마당'
    elif 'TJOY' in x or 'T-JOY' in x:
        return 'TJOY'
    elif '디오시네마' in x :
        return '디오시네마'
    elif '스톰픽쳐스' in x :
        return '스톰픽쳐스'
    elif '디스테이션' in x :
        return '디스테이션'
    elif '더블앤조이' in x :
        return '디스테이션'
    elif 'CBS' in x :
        return 'CBS'
    elif 'CBS' in x :
        return 'CBS'
    elif '더쿱' in x :
        return '더쿱'
    elif '더콘텐츠온' in x :
        return '더콘텐츠온'
    elif '소니픽쳐스' in x :
        return '소니픽쳐스'
    elif '이수' in x :
        return '이수'
    elif '워너' in x :
        return '워너브라더스'
    elif '삼백' in x :
        return '삼백상회'
    elif '폭스' in x :
        return '폭스코리아'
    elif '엣나인' in x :
        return '엣나인필름'
    elif '티캐스트' in x :
        return '티캐스트'
    elif '콘텐츠판다' in x :
        return '콘텐츠판다'
    elif '판씨네마' in x :
        return '판씨네마'
    elif '키다리' in x :
        return '키다리이엔티'
    elif '스마일이' in x :
        return '스마일이엔티'
    elif '팝엔' in x :
        return '팝엔터테인먼트' 
    elif '오퍼스' in x :
        return '오퍼스픽쳐스' 
    elif '와이드' in x :
        return '와이드릴리즈' 
    elif '오드' in x :
        return '오드' 
    elif '조이앤' in x :
        return '조이앤시네마' 
    elif '박수' in x :
        return '박수엔터테인먼트' 
    elif '찬란' in x :
        return '찬란'
    elif '얼리' in x :
        return '얼리버드'
    elif '영화사빅' in x :
        return '영화사빅'
    elif '에이스' in x :
        return '에이스메이커'
    elif '퍼스트런' in x :
        return '퍼스트런'
    elif 'MM' in x or 'M&M' in x:
        return 'MM인터내셔널'
    elif '드림웨스트' in x :
        return '드림웨스트픽쳐스'
    elif '홀리가든' in x :
        return '홀리가든'
    elif 'R&R' in x :
        return 'RR프로덕션'
    elif '머스트' in x :
        return '머스트씨무비'
    elif '블룸즈' in x :
        return '블룸즈베리'
    elif '모쿠' in x :
        return '모쿠슈라'
    elif '니버설' in x :
        return '유니버설픽쳐스'
    elif '시네마달' in x :
        return '시네마달'
    else :
        return x

In [80]:
df3_reg['배급사'] = df3_reg['배급사'].apply(get_dis)

In [81]:
df3_reg['배급사'].unique()

array(['(주)나이너스엔터테인먼트', '롯데', '워너브라더스', '디스테이션', '(주)케이알씨지', '리틀빅픽처스',
       '(주)넥스트엔터테인먼트월드(NEW)', '박수엔터테인먼트', '콘텐츠판다', '드림팩트', '티캐스트', '삼백상회',
       'CJ', '(주)메타플레이', '하준사', '인디스토리', '(주)트리플픽쳐스', '라온아이(주)',
       '(주)영화사 빅', '(주)영화사 진진', '메가박스', '(주)마노엔터테인먼트', '달밤체조(주)',
       '(주)영화사오원', '(주)애니플러스', 'SK', '주식회사 씨네룩스', '(주)아이엠비씨', '더쿱',
       '(주)소나무픽쳐스', '오드', '월트디즈니', '노바엔터테인먼트', '이수', '머스트씨무비', '마운틴픽처스',
       '판씨네마', '팝엔터테인먼트', '와이드릴리즈', '바심미디어', '에이원', '아이 엠', '싸이더스',
       '주식회사 풍경소리', '(주)에스와이코마드', '엣나인필름', '시네마달', '(주)티앤엘엔터테인먼트',
       '(주)미로스페이스', '(주)브리즈픽처스,(주)영화사오원', '(주)엠제이픽쳐스', '얼리버드', '그린나래',
       '제이앤씨미디어그룹', '(주)누리픽쳐스', '영화사 마농(주)', '(주)영화사 그램', '서울독립영화제,무브먼트',
       '스톰픽쳐스', '99film', '(주)노바이앤티', 'KTG상상마당', '코리아스크린', '서울독립영화제',
       '(주)버킷스튜디오', '글뫼 주식회사', '(주)시네마리퍼블릭', '디오시네마', '조이앤시네마',
       '동우에이앤이(주)', '찬란', '(주)라이크콘텐츠', '알토미디어(주)', '레이크엔터테인먼트',
       '주식회사 루믹스미디어', '(주)홈초이스', '유니버설픽쳐스', '스토리 너머,파인스토리',
       '(주)제이에이와이이엔터테인먼트', '이언픽쳐스', '(주)누리픽쳐스,(주)케이티알파', '오퍼스픽쳐스',
       '스마일이엔티', '(주)누리픽쳐스,(주)영화사 진진', '(주)무빙픽쳐스컴퍼니', '투썸업픽쳐스',
       '주식회사 레드아이스', '(주)모인그룹', '제인앤유', '주식회사 씨엠닉스', '(주)뮤제엔터테인먼트',
       '커넥트픽쳐스(주)', '(주)피터팬픽쳐스', '(주)영화사 사계절', 'CBS', '(주)아펙스 엔터테인먼트',
       '(주)아피아스튜디오', '브릿지웍스 엔터테인먼트(주)', '시네마 뉴원', '주식회사 디에스이이디',
       '(주)김기덕 필름', '폭스코리아', '레드무비', '노네임 필름', '(주)영진크리에이티브',
       '(주)티에스앤컴퍼니', 'C 무비', '소니픽쳐스', '모비딕엔터테인먼트(주)', '(주)우성엔터테인먼트',
       '(주)영화공간', '(주)메인타이틀픽쳐스', '키다리이엔티', '(주)레인메이커필름', '(주)이놀미디어',
       '퍼스트런', '(주)컨텐츠 빌리지', '무브먼트,독립영화전용관 인디스페이스', '미디어소프트',
       '(주)영화사 안다미로', '블리트필름', '(주)일레븐엔터테인먼트', '영화사 유일무이',
       '레지스탕스 필름,(주)파란프로덕션', '윤스', '(주)케빈앤컴퍼니', '(주)컴퍼니엘', '(주)삼지애니메이션',
       '(주)액티버스엔터테인먼트', '(주) 인스터 글로벌', '유니콘미디어(주)', '주식회사 플릭스코',
       '(주)엔케이컨텐츠', '(주)스토리제이', '(주)다날엔터테인먼트', '독포레스트', '무브먼트', 'MM인터내셔널',
       '(주)미디어캐슬', '쇼박스', '에이 라이프', '(주)무브먼트 픽쳐스', '예지림엔터테인먼트',
       '(주)올스타엔터테인먼트', '워터홀컴퍼니(주)', '(주)도키엔터테인먼트', '(주)알이디아이스엔터',
       '하드릴컴퍼니', '(주)인디플러그,(주)더 피플', '(주)케이티알파', '에스디시코리아 주식회사',
       '(주)콘텐츠 난다긴다', '(주)콘텐츠윙', '모두를위한극장 공정영화협동조합', '영화사 백두대간', '(주)비프로',
       '주식회사 세미콜론스튜디오', '(주)선익필름', '더 필름클래식 프로덕션', '프로젝트 엔터테인먼트', '더콘텐츠온',
       '(주)픽쳐레스크', '플레이리스트(주)', '(주)아이아스플러스', '(주)모멘텀엔터테인먼트',
       '영화배급협동조합 씨네소파', '주식회사 슈아픽처스', '(주)그노스', '(주)스튜디오후크', '(주)팬엔터테인먼트',
       '(주)알앤오엔터테인먼트', 'BX 픽쳐스', '(주)다자인소프트', '(주)갤럭시컴퍼니', '스마트스터디(주)',
       '(주)영화특별시에스엠씨', '이달투', '(주)유로커뮤니케이션', '(주)쓰리캣프로덕션', '에이스메이커',
       '(주)에스와이코마드,글뫼 주식회사', '(주)판다미디어', '필름다빈', '딥 포커스', '즐감',
       '팔레드시네마(주)', '조박픽쳐스', '노가리필름,(주)인디플러그', '스마일컨텐츠', '홀리가든',
       '레인메이커필름', '(주)제이디테크', '(주)영화사히트', '강 컨텐츠', '(유)쏘아필름', '(주)인디플러그',
       '(주)에이앤비픽쳐스', '닷 팩토리', '(주)재원엔터테인먼트', '봄바람영화사',
       '(주)영화사 진진,(주)누리픽쳐스', '(주)패뷸러스', 'C2 미디어',
       '(주)레인메이커필름,(주)모멘텀엔터테인먼트', '(주)크리픽쳐스', 'THE 픽쳐스', '너바나 필름',
       '필라멘트픽쳐스', '(주)수키픽쳐스', '(주)에이블엔터테인먼트', '이상우필름', '(주)로드하우스',
       '(주)영화사가을', '밀크픽처스', '골든타이드픽처스(주)', '(유)영화사 화수분', '(주)로카',
       'THE 픽쳐스,(주)미로스페이스', '씨네그루(주)다우기술', '(주)콘텐츠게이트', '(주)미디어로그',
       '(주)마고필름', '(주)블루브릭', '(주)브리즈픽처스', '(주)농담', '스토리 너머,아이 엠',
       '주식회사 온 피크,스튜디오 프로그레시브 인큐베이터', '파이오니아21', '(주)플라이어', '(주)아우라픽처스',
       '위드 라이언 픽쳐스', '(주)영화맞춤제작소 영화공장', '애니메이션 배급, 씨앗', '(주)영화사선',
       '(주)코코믹스', '씨네힐', '하드릴', '(주)월드시네마', '(주)맑은시네마', '조이월드앤다이버시티',
       '(주)영화사 조제', '(주)마이애미미디어', '(주)프레인글로벌', '반달',
       '(주)올댓시네마 플러스,(주)미로스페이스', '(주)메인타이틀픽쳐스,주식회사 키위컴퍼니',
       '(주)다자인소프트,(주)유로커뮤니케이션', '이언픽쳐스,(주)그란', '(주)나우콘텐츠', '52DAYS FILM',
       '(주)문와쳐', '주식회사 디에스이이디,(주)로카', 'KBS', '(주)태양미디어그룹', '(주)까멜리아이엔티',
       '아방가르드 필름', '(주)제이브로', '(주)대교 미디어콘텐츠사업본부', '(주)위즈온센', '주식회사 왓챠',
       '(주)아이디어랩', '매치컷(주)', '호우주의보', '주식회사 블루필름웍스,THE 픽쳐스', '초코필름',
       '(주)씨네마블랙', '(재)서울예술단', '(주)엘케이픽쳐스', '(주)스튜디오디에이치엘', '주식회사 블루필름웍스',
       '(주) 루스이소니도스', '(주)메리크리스마스', '(주)백그림', '디마엔터테인먼트', '(주)콘텐츠패밀리',
       '일미디어', '(주)스튜디오 산타클로스엔터테인먼트', '(주)영화특별시에스엠씨,(주)콘텐츠패밀리', '(주)씨네필운',
       '인디스토리,엠앤씨에프', '(주)액티버스엔터테인먼트,예지림엔터테인먼트', '(주)스튜디오 보난자',
       '(주)인터오리진아이엔씨', '굿픽처스', '(주)영화사 진진,하이, 스트레인저', '유한회사 영화사 반딧불',
       '(주)블루라벨픽쳐스', '(주)26컴퍼니', '언더식스티,(주)퍼니콘', '(주)명필름,(주)씨네필운',
       '주식회사 필름초이스', '(주)컨택트미디어', '농부영화사', '모쿠슈라', '(주)영화특별시에스엠씨,주식회사 왓챠',
       '(주)영화사 빅,(주)태양미디어그룹', '아이 엠,(주)케이티알파', '주식회사 컨텐츠썬', '(주)콘텐트마인',
       '목영이엔엠', '비케이 시네윈', '(주)시너지하우스 (시너지)', '필름에이픽쳐스',
       '목영이엔엠,(주)다자인소프트', '주식회사 블루필름웍스,(주)무빙픽쳐스컴퍼니', '(주)더그레이트컴퍼니',
       '(주)미로스페이스,(주)스튜디오 보난자', '(주)원더스컴퍼니', '(주)유어스토리블루', '(주)엠씨엠씨',
       '주식회사 골든럭', '(주)랠리버튼', '(주)파인스토리', '(주)라이크콘텐츠,주식회사 블루필름웍스', '어뮤즈',
       '해피송', '(주)라온컴퍼니플러스', '(주)도어이앤엠', '(주)누리픽쳐스,(주)영화특별시에스엠씨',
       '(주)화앤담이엔티', '(주)씨네포트,주식회사 블루필름웍스', '씨네라인월드(주)', '(주)글린트',
       '(주)원픽쳐스', '명보 아트시네마', '(주)영진크리에이티브,(주)다날엔터테인먼트',
       '(주)에스와이코마드,아이 엠', '(주)인포투스', '(주)유비네트워크', '(주)웃기씨네', '씨네마캣 픽쳐스',
       '영화사 무명', '(주)미디어데이', '스크린조이', '(주)영화사 빅,(주)버킷스튜디오',
       '오키넷,(주)라이크콘텐츠', '(주)나이너스엔터테인먼트,주식회사 시온픽쳐스',
       '(주)미로스페이스,주식회사 제이씨엔터웍스', '스파일이엔트', '(주)엔씨미디어', '(주)한마음프로덕션',
       '(주)셀트리온엔터테인먼트', '스마일픽쳐스', '트리플픽쳐스', '대성필름,시네마 뉴원',
       '영화사 풀,(주)영화사 친구', '트윈플러스파트너스(주)', '(유)헤이데이웍스',
       '전국예술영화관협회,에무 시네마 앤 카페', '전국예술영화관협회', '주식회사 콘텐츠플레이',
       '글뫼 주식회사,(주)에스와이코마드', '올드웨일', '(주)트리필름', '씨너스엔터테인먼트(주)',
       '(주)다날엔터테인먼트,THE 픽쳐스', '(주)민치앤필름', '(주)씨맥스이앤씨', '(주)26컴퍼니,윤스',
       '영화사 풀', '(주)로드픽쳐스', 'CL2D Film', '아이앤지픽쳐스', '(주)빅웨이브시네마',
       '제이리미디어', '(주)영화사 빅,(주)다날엔터테인먼트', '(주)넥스트엔터테인먼트월드(NEW),(주)팬엔터테인먼트',
       '명필름랩', '(주)미로비젼', '예술의전당', '(주)률필름,인디스토리', '마루아트센터(주)', '월드 영화사',
       '주식회사 풍경소리,(주)타임앤드스페이스', '주식회사 컨텐츠썬,(주)아우라픽처스', '(주)마그나', '퓨쳐스',
       '(주)디에이치미디어', '(주)달빛공장', '다큐스토리', '영화사 삼순', '(주)에스비에스콘텐츠허브',
       '(주)팝파트너스', '(주)인벤트스톤,영화사청어람(주)', '타임스토리그룹(주)', '(주)명필름', '마인스',
       '씨네21아이(주)', '이미지팩토리', '프리비젼엔터테인먼트', '(주)인벤트스톤', '(주)노이에스',
       '(주)영화제작전원사 ,(주)영화사 조제', '(주)고맙습니다 사랑합니다', '코리아 코어 컨텐츠',
       '세븐바이투픽쳐스', '(주)케이앤엔터테인먼트', '골든타이드픽처스(주),Yellow Pictures',
       '주식회사 씨엠닉스,어뮤즈', '데이지엔터테인먼트', '롤러코스터', '(주)아바엔터테인먼트',
       '(주)토러스엔터테인먼트', '(주)미루픽처스', '(주)키노아이디엠씨', '(주)시네마서비스', '(주)필마픽쳐스',
       '(주)스크린와이즈', '씨너스엔터테인먼트(주),타임스토리그룹(주)', '영희야 놀자', '(주)영화사폴',
       '(주)두엔터테인먼트', '(주)인피니티엔터테인먼트', '(재)전주국제영화제조직위원회', '크리에이티브컴즈(주)',
       '씨네굿', '더컨텐츠콤(주)', '(주)미디어이야기', '(주)따미픽쳐스', '주식회사 미콘', '뎁스프로덕션',
       '블루미지', '아이러브시네마', '(주)히스토리필름', '인디스토리,(주)인디플러그', '(주)디앤아이컴퍼니',
       '미디어브로스(주)', '(주)앤드플러스미디어웍스', '(주)씨에이씨엔터테인먼트', 'TJOY', '드림웨스트픽쳐스',
       '(주)영화사조아', '(주)자우엔터테인먼트', '(주)서태지컴퍼니', '(주)스넵쏘울',
       '골든타이드픽처스(주),(주)옐로우필름', '주식회사 키노엔터테인먼트', '라인트리엔터테인먼트',
       '주식회사 우리네트웍스', '제나두엔터테인먼트', '다솔기획,(주)추억을 파는 극장', '페퍼민트픽쳐스',
       '(주)도키엔터테인먼트,예지림엔터테인먼트', '스튜디오느림보', '(주)새인컴퍼니', '스폰지',
       '이공희 필름,시네마 뉴원', '웃기씨네', '케이디미디어', '위드시네마', '시네마루,위드시네마',
       '주식회사 케이엠스타', '(주)화천공사', '디자인 콘텐츠', '(주)영화사오원,(주)브리즈픽처스',
       '무브먼트,영화배급협동조합 씨네소파', '(주)씨네포트', 'ZONE Film', '(주)미로스페이스,THE 픽쳐스',
       '(주)두타연,(주)미디어데이', '씨에이엔', '(주)영화제작전원사', '(주)데이드림서울', '(주)화인픽쳐스',
       '익스트림 필름', '(주)투한미디어', '(주)엠레콘', '대원미디어(주)', '퍼즐엔터테인먼트',
       '(주)에이치엠엔', '애니박스 엔터테인먼트', '씨엔티테크(주)', '(주)미로비젼,아뮤즈코리아(주)',
       '(주)씨네마드마농', '(주)갑종무비필름', '(주)더 피플',
       '(주)넥스트엔터테인먼트월드(NEW),(주)에스비에스콘텐츠허브', '(주)영화사샘', '나이스플레이(주)',
       '블룸즈베리', '양전프로덕션', '퓨어웨이픽쳐스', '에이라인', '(주)와우픽쳐스',
       '주식회사 쇼미미디어앤트레이딩', '페어팍스인터내셔날(주)', '(주)시네마서비스,(주)나이너스엔터테인먼트',
       '(주)인벤트스톤,(주)영화사오원', '미디어 컨텐츠 스토어,(주)인디플러그', '포커스 온', '(주)지어소프트',
       '이닥픽쳐스', '아이제이미디어(주)', '골든타이드픽처스(주),(주)영화사 조제',
       '미디어소프트,(주)뮤제엔터테인먼트', '씨드', '야간비행', '(주)대명문화공장,(주)나이너스엔터테인먼트',
       '웅 픽쳐스', '(주)대양미디어', '(주)시네마엔터,(주)모멘텀엔터테인먼트', '(주)영화사 조은',
       '예지림엔터테인먼트,미디어소프트', '리필름', '(주)레인보우팩토리', '주식회사 락희상회', '핵존슨',
       '주식회사 이엔터', '(주)레드언더미디어', '주식회사 비엠미디어', '무브먼트,영화사 몸',
       '크리스리픽쳐스인터내셔널(주)', '(주)나이너스엔터테인먼트,(주)지어소프트', '(주)아이코닉스',
       '나이너스엔터테인먼트', '전망 PRODUCTION', '스튜디오 프로그레시브 인큐베이터', '드림로드',
       '(주)올댓시네마 플러스', '(주)포커스엔터테인먼트', '(주)와이즈베이', '유나이티드픽처스(주)',
       '주식회사 노버스엔터테인먼트', '(주)투윈미디어', '어썸피플,어뮤즈', '판타스틱룸미디어', '(주)베드픽쳐스',
       '(재)영화의전당', '(주)휘엔터테인먼트', '(주)스크린다', '(주)프라임엔터테인먼트', '(주)에스피엠',
       '(주)이모션픽처스', '(주)스튜디오 보난자,(주)미로비젼', '이언픽쳐스,씨너스엔터테인먼트(주)',
       '애니메이션 배급, 씨앗,인디스토리', '영화사올(주)', '주식회사 단유필름,주식회사 푸르모디티', '미라클필름',
       '(주)전망좋은 영화사', '(주)나이너스엔터테인먼트,(유)영화사 화수분', '퍼즐컷'], dtype=object)

In [82]:
df3_reg['배급사'].nunique()

542

In [83]:
# 상위 100개의 배급사를 제외하고 '기타'로처리
df3_reg['배급사'].value_counts()[:50]

CJ                     328
롯데                     206
팝엔터테인먼트                173
유니버설픽쳐스                169
(주)넥스트엔터테인먼트월드(NEW)    147
(주)케이알씨지               145
(주)영화사 진진              125
와이드릴리즈                 114
워너브라더스                 113
(주)소나무픽쳐스              113
월트디즈니                  110
디스테이션                  106
박수엔터테인먼트               104
마운틴픽처스                 103
판씨네마                    96
리틀빅픽처스                  88
드림팩트                    86
찬란                      85
엣나인필름                   82
폭스코리아                   82
제이앤씨미디어그룹               78
쇼박스                     75
메가박스                    75
소니픽쳐스                   74
(주)영화사 안다미로             73
(주)영화사 빅                69
인디스토리                   67
이수                      66
그린나래                    65
스크린조이                   63
(주)미디어데이                61
조이앤시네마                  60
주식회사 풍경소리               55
(주)누리픽쳐스                53
시네마달                    51
예지림엔터테인먼트               50
(주)영화사오원                46
스톰픽쳐스                   46
싸이더스                    44
오드                      40
(주)트리플픽쳐스               37
(주)이놀미디어                36
(주)나이너스엔터테인먼트           36
(주)시네마리퍼블릭              36
(주)라이크콘텐츠               36
티캐스트                    35
(주)수키픽쳐스                35
키다리이엔티                  35
마인스                     35
노바엔터테인먼트                33
Name: 배급사, dtype: int64

In [84]:
distributor_list = df3_reg['배급사'].value_counts()[:100]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

In [85]:
df3_reg['배급사'] = df3_reg['배급사'].apply(lambda x : func(x))

In [86]:
# 배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩
tr_dist_rank = df3_reg.groupby('배급사').audiAcc.median().reset_index(name = 'dist_rank').sort_values(by = 'dist_rank', ascending=False)
tr_dist_rank

            배급사  dist_rank
60          쇼박스  1144894.0
78        월트디즈니   901534.0
98        폭스코리아   576861.5
77       워너브라더스   527331.0
59        소니픽쳐스   462514.0
..          ...        ...
21  (주)영화사 안다미로        1.0
11   (주)시네마리퍼블릭        1.0
83         제인앤유        1.0
4   (주)도키엔터테인먼트        1.0
17  (주)영진크리에이티브        1.0

[101 rows x 2 columns]

In [87]:
tr_dist_rank['dist_rank'] = [i + 1 for i in range(tr_dist_rank.shape[0])]
tr_dist_rank

            배급사  dist_rank
60          쇼박스          1
78        월트디즈니          2
98        폭스코리아          3
77       워너브라더스          4
59        소니픽쳐스          5
..          ...        ...
21  (주)영화사 안다미로         97
11   (주)시네마리퍼블릭         98
83         제인앤유         99
4   (주)도키엔터테인먼트        100
17  (주)영진크리에이티브        101

[101 rows x 2 columns]

In [88]:
df3_reg = pd.merge(df3_reg, tr_dist_rank, how = 'left')

In [89]:
df3_reg

,title,directors,actors,genre,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사,dist_rank
0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",어드벤처,전체관람가,2021-09-02,영국,1,5.000000e+04,10,5,(주)나이너스엔터테인먼트,26
1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,2018-09-12,한국,1183,6.104165e+09,723414,121,롯데,7
2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,2017-02-22,한국,576,2.685519e+09,351276,50,워너브라더스,4
3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",애니메이션,전체관람가,2018-10-09,일본,214,1.741404e+08,21153,5,디스테이션,42
4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",판타지,15세이상관람가,2018-11-11,미국,1,1.000000e+03,1,5,(주)케이알씨지,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠",드라마,15세이상관람가,2014-09-18,미국,1,8.000000e+03,1,5,(주)누리픽쳐스,60
6377,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁",코미디,15세이상관람가,2014-12-04,한국,5,7.368000e+06,1074,7,기타,71
6378,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드",액션,15세이상관람가,2015-01-05,미국,2,3.200000e+04,4,3,(주)케이알씨지,89
6379,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",SF,15세이상관람가,2014-12-11,미국,5,1.708000e+06,426,2,스크린조이,79
6380,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",공포(호러),15세이상관람가,2014-08-20,한국,264,6.208740e+08,80989,84,박수엔터테인먼트,32

## 장르전처리

In [90]:
df3_reg[df3_reg['genre']=='기타']

,title,directors,actors,genre,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사,dist_rank
257,십팔나한,심화신,"손일명, 강이이, 애가니, 상순화",기타,15세이상관람가,2018-05-03,중국,5,3.910000e+05,76,4,(주)소나무픽쳐스,92
403,무림9대문파-호골매화,저우시,"양자강, 장명은, 후동강",기타,15세이상관람가,2018-02-14,중국,5,8.200000e+04,49,3,조이앤시네마,90
490,잊지 않았어요,박용철,"노율, 백지훈, 송지운, 박용철, 조우현, 권소연, 곽승일, 박인재, 정민정, 이승...",기타,15세이상관람가,2020-01-01,한국,1,2.600000e+05,75,16,주식회사 씨엠닉스,85
502,브링 더 소울 : 더 무비,박준수,"RM, 진, 슈가, 제이홉, 지민, 뷔, 정국",기타,전체관람가,2019-08-07,한국,569,2.902500e+09,336074,7,CJ,8
724,디재스터 라이프,백지훈,"백지훈, 송지운, 박용철, 노율, 김혜인, 이승훈, 카슨 엘렌, 서인수, 박인재, ...",기타,청소년관람불가,2020-07-01,한국,1,1.110000e+05,48,18,주식회사 씨엠닉스,85
823,마음에 부는 바람,윤석호,"마시마 히데카즈, 사나다 마스미, 하세가와 토모하루, 스가와라 다이키치, 코마이 렌",기타,12세이상관람가,2020-11-05,일본,13,6.953000e+06,805,5,(주)트리플픽쳐스,40
833,번 더 스테이지: 더 무비,박준수,"RM, 진, 슈가, 제이홉, 지민, 뷔, 정국",기타,전체관람가,2018-11-15,한국,243,2.671392e+09,315010,7,월트디즈니,2
1638,방 안의 코끼리,"박수영, 권칠인, 권호영","곽시양, 신동미, 김태한, 임소리, 미람, 서준영, 박수진, 조우진, 권혁범, 이청...",기타,청소년관람불가,2016-03-03,한국,24,5.430800e+06,707,43,인디스토리,58
1661,살인의 기억법,존 키스,"마이클 아이언사이드, 스티븐 마이클 쿠에자다, 폴 스튜어트",기타,15세이상관람가,2017-07-06,미국,1,3.000000e+03,1,3,(주)컴퍼니엘,94
1824,수필러브,홍두표,"김희철, 이봄, 유호재, 김창헌, 문주하, 강애심, 김주현, 주현정, 유우종, 양리...",기타,12세이상관람가,2021-09-01,한국,1,1.750000e+05,80,11,주식회사 씨엠닉스,85
1847,"식물카페, 온정",최창환,"강길우, 김우겸, 박수연, 서석규, 이가경, 김상동",기타,전체관람가,2021-06-24,한국,19,6.308140e+06,886,6,기타,71
1999,마지막 휴가,노거경,"이영범, 장순미, 조동혁, 김경애, 이예슬, 김영용",기타,15세이상관람가,2020-12-10,한국,11,9.561000e+06,1164,6,드림팩트,67
2148,인트로덕션,홍상수,"신석호, 박미소, 김영호, 기주봉, 예지원, 조소연, 서영화, 김민희, 조윤희, 하성국",기타,12세이상관람가,2021-05-27,한국,91,5.536927e+07,6185,10,콘텐츠판다,38
2169,잃어버린 아이들,팽삼원,"유덕화, 정백연, 양가휘, 오군려",기타,12세이상관람가,2021-04-08,기타,26,4.578000e+06,678,4,(주)영화사오원,56
2193,"구라, 베토벤",봉수,"송동환, 김누리, 봉수, 김예호, 김민경, 김윤미, 김병만, 김동혁, 이일화",기타,15세이상관람가,2021-02-25,한국,11,2.169010e+07,3594,9,기타,71
2386,시크릿 카운터,아라키 신지,"나카무라 토모야, 이시바시 시즈카, 타치바나 에리, 야마나카 소우, 하시노 준페이",기타,15세이상관람가,2022-02-17,일본,25,4.648000e+06,496,5,디오시네마,65
2487,데드락: 라스트 리벤지,자레드 콘,"패트릭 멀둔, 브루스 윌리스, 마이클 드보즌, 매튜 마스든, 에이바 팔로마",기타,15세이상관람가,2022-01-28,미국,50,8.050000e+06,1150,5,(주)누리픽쳐스,60
2535,네가 내가 되었으면 좋겠다,김충길,"김충길, 황현주, 이사라, 이두환, 임성균, 이원진, 정회동, 정주연, 김시호, 김...",기타,12세이상관람가,2021-06-01,한국,1,6.730000e+05,280,11,주식회사 씨엠닉스,85
2615,끝없음에 관하여,로이 앤더슨,"벵트 베르기우스, 마리 버만, 타티아나 델레우나이, 얀-에예 페를링, 토레 프뤼겔,...",기타,12세이상관람가,2021-12-16,기타,38,3.819796e+07,4160,6,찬란,46
2846,동명이인 프로젝트 시즌2,이경원,"홍지우, 황인철, 김진희, 윤세현, 장유상, 최선은, 홍지석, 김세정, 이중현, 신...",기타,12세이상관람가,2019-07-04,한국,2,9.010000e+05,130,14,기타,71
3147,러브라인,"정다이, 소준영, 오두경, 김성훈, 권아영","정다이, 김소우, 댄 버키, 앤드류 토마스 벌데테, 브론테 스탠필드, 여대현, 이어...",기타,15세이상관람가,2020-11-01,한국,1,2.210000e+05,78,10,주식회사 씨엠닉스,85
3155,우리 안의 그들,"김태진, 송원준, 이진영","황영국, 박관우, 권강민, 황미향, 김진구, 정헌규, 채승병, 박소연, 이충훈, 유...",기타,12세이상관람가,2020-11-01,한국,1,1.470000e+05,61,41,주식회사 씨엠닉스,85
3170,어댑테이션,김정민,"노상현, 장지훈, 최상우, 송기호, 최은미, 남진복, 김혜영, 장지현, 김록현, 문...",기타,15세이상관람가,2021-08-19,한국,1,1.000000e+05,20,18,기타,71
3347,보존상: 천년의 유혼,장적재,"이가, 류잔",기타,15세이상관람가,2020-04-29,중국,6,1.500000e+04,10,2,(주)액티버스엔터테인먼트,93
3838,쇼킹잡 - 원스 어폰 어 포르노,존 루트,"자스민 아라비아, 니키타 벨루치",기타,청소년관람불가,2014-02-06,프랑스,1,3.000000e+04,10,2,기타,71

In [91]:
df3_reg.at[257, 'genre'] = '액션'
df3_reg.at[403, 'genre'] = '액션'
df3_reg.at[490, 'genre'] = '드라마'
df3_reg.at[502, 'genre'] = '공연'
df3_reg.at[724, 'genre'] = '코미디'
df3_reg.at[823, 'genre'] = '멜로/로맨스'
df3_reg.at[833, 'genre'] = '공연'
df3_reg.at[1638, 'genre'] = '코미디'
df3_reg.at[1661, 'genre'] = '스릴러'

df3_reg.at[1824, 'genre'] = '다큐멘터리'
df3_reg.at[1847, 'genre'] = '드라마'
df3_reg.at[1999, 'genre'] = '드라마'
df3_reg.at[2148, 'genre'] = '드라마'
df3_reg.at[2169, 'genre'] = '드라마'
df3_reg.at[2193, 'genre'] = '스릴러'
df3_reg.at[2386, 'genre'] = '미스터리'
df3_reg.at[2487, 'genre'] = '액션'
df3_reg.at[2535, 'genre'] = '멜로/로맨스'

df3_reg.at[2615, 'genre'] = '드라마'
df3_reg.at[2846, 'genre'] = '드라마'
df3_reg.at[3147, 'genre'] = '멜로/로맨스'
df3_reg.at[3155, 'genre'] = '드라마'
df3_reg.at[3170, 'genre'] = '드라마'
df3_reg.at[3347, 'genre'] = '액션'
df3_reg.at[3838, 'genre'] = '다큐멘터리'

In [92]:
df3_reg[df3_reg['genre']=='기타']

Empty DataFrame
Columns: [title, directors, actors, genre, 등급, 개봉일, 국적, screenCnt, salesAcc, audiAcc, act_n, 배급사, dist_rank]
Index: []

In [93]:
df3_reg.groupby('genre').audiAcc.mean().sort_values(ascending=False)

genre
사극          3.057790e+06
어드벤처        7.739510e+05
범죄          6.504936e+05
액션          6.049380e+05
판타지         4.488330e+05
SF          3.163311e+05
코미디         3.075698e+05
애니메이션       2.521300e+05
미스터리        2.198196e+05
스릴러         2.174327e+05
드라마         2.031958e+05
전쟁          1.832081e+05
멜로/로맨스      1.523581e+05
서부극(웨스턴)    1.300725e+05
공포(호러)      1.166965e+05
가족          7.328789e+04
뮤지컬         5.278707e+04
다큐멘터리       2.695423e+04
공연          1.723972e+04
Name: audiAcc, dtype: float64

In [94]:
df3_reg['genre_rank'] = df3_reg.genre.map({'공연' : 19, '다큐멘터리' : 18, '뮤지컬' : 17, '가족' : 16,
                                      '공포(호러)' : 15, '서부극(웨스턴)' : 14, '멜로/로맨스' : 13, '전쟁' : 12, '드라마' : 11, '스릴러' : 10, '미스터리' : 9, '애니메이션':8,'코미디':7,'SF':6,'판타지':5,'액션':4,'범죄':3,'어드벤처':2,'사극':1})

## 등급 원핫

In [95]:
df3_reg = pd.get_dummies(columns = ['등급'], data = df3_reg)

## 국적 전처리

In [96]:
df3_reg['국적'].unique()

array(['영국', '한국', '일본', '미국', '캐나다', '스페인', '프랑스', '이탈리아', '러시아', '대만',
       '중국', '독일', '스웨덴', '아르헨티나', '벨기에', '터키', '말레이시아', '홍콩', '아일랜드',
       '아이슬란드', '기타', '체코', '호주', '폴란드', '노르웨이', '마케도니아', '핀란드', '인도',
       '브라질', '필리핀', '베네수엘라', '헝가리', '태국', '우크라이나', '이란', '멕시코', '덴마크',
       '뉴질랜드', '칠레', '싱가포르', '네덜란드', '에스토니아', '그리스', '오스트리아', '페루',
       '이스라엘', '팔레스타인', '스위스', '인도네시아', '불가리아', '슬로바키아', '모로코', '포르투갈',
       '우즈베키스탄', '쿠바', '남아프리카공화국', '크로아티아', '루마니아', '세르비아', '우루과이', '베트남',
       '카자흐스탄', '아랍에미리트연합국정부'], dtype=object)

In [97]:
df3_reg[df3_reg['국적']=='기타']

,title,directors,actors,genre,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사,dist_rank,genre_rank,등급_12세관람가,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가
159,엘리펀트킹 덤보,하디 모하메디안,"이인석, 안현서, 김정훈, 박민기, 김유림",애니메이션,2019-06-13,기타,226,64369060.0,8755,5,박수엔터테인먼트,32,8,0,0,0,1,0
185,더 리프트,데얀 제체비치,"켄 포리, 카타리나 카스, 몬테 마크햄, 드라간 미카노비치, 데니스 무리치, 소냐 ...",SF,2018-12-12,기타,1,25000.0,4,7,기타,71,6,0,0,1,0,0
646,카잔자키스,야니스 스마라그디스,"오디세즈 파파스필리오풀로스, 마리나 칼로기루, 토도리스 아테리디스, 니코스 카르도니...",드라마,2020-01-30,기타,21,26839100.0,3447,7,(주)마노엔터테인먼트,70,11,0,1,0,0,0
690,인비저블 라이프,카림 아이노우즈,"줄리아 스토클러, 카롤 두아르테, 니콜라스 안투네스, 안토니오 폰세카, 그레고리오 ...",드라마,2020-06-24,기타,49,51596470.0,6358,7,삼백상회,34,11,0,0,0,0,1
738,스카이와 친구들: 로보시티의 비밀,"아나톨리 보로디치, 루슬란 시바체프","이다은, 김보나, 서반석, 방성영, 이창민",애니메이션,2020-12-10,기타,83,10765680.0,1394,5,와이드릴리즈,39,8,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5940,텔레비전,모스타파 사르와르 파루키,"샤히르 카지 후다, 누스랏 임로세 티샤",코미디,2013-11-07,기타,3,3977000.0,667,2,엣나인필름,29,7,0,0,0,1,0
5952,와즈다,하이파 알 만수르,"와드 모하메드, 림 압둘라, 아드",드라마,2014-06-19,기타,51,79998200.0,11135,3,(주)프레인글로벌,22,11,0,0,0,1,0
5962,사라진 기억,크리스티나 부오지테,"마리우스 잠폴스키스, 훌가 주탈리트, 브리스 푸르니에, 필립 렌코스키",멜로/로맨스,2013-12-12,기타,5,2113000.0,502,4,그린나래,27,13,0,0,0,0,1
6027,드림빌더,"킴 하겐 젠슨, 토니 징크","에밀리에 크로이어 코펠, 마틴 부치, 라스무스 보토프트, 미아 레르담, 디테 한센,...",애니메이션,2021-02-10,기타,327,156030640.0,18421,6,(주)트리플픽쳐스,40,8,0,0,0,1,0
6266,모두의 천사 가디,아민 도라,"조르주 카바즈, 라라 레인, 카밀 살레미, 이마누엘 카이랄라",코미디,2015-05-07,기타,18,8439000.0,1225,4,기타,71,7,0,1,0,0,0

In [98]:
df3_reg.at[159, '국적'] = '이란'
df3_reg.at[185, '국적'] = '세르비아'
df3_reg.at[646, '국적'] = '그리스'
df3_reg.at[690, '국적'] = '브라질'
df3_reg.at[738, '국적'] = '벨라루스'

df3_reg.at[839, '국적'] = '러시아'
df3_reg.at[1196, '국적'] = '스리랑카'
df3_reg.at[1793, '국적'] = '뉴질랜드'
df3_reg.at[1821, '국적'] = '대만'
df3_reg.at[1823, '국적'] = '덴마크'
df3_reg.at[1825, '국적'] = '프랑스'
df3_reg.at[1826, '국적'] = '프랑스'
df3_reg.at[1845, '국적'] = '부탄'
df3_reg.at[1849, '국적'] = '터키'
df3_reg.at[1854, '국적'] = '미국'

df3_reg.at[1915, '국적'] = '대만'
df3_reg.at[1978, '국적'] = '이탈리아'
df3_reg.at[2016, '국적'] = '미국'
df3_reg.at[2034, '국적'] = '노르웨이'
df3_reg.at[2040, '국적'] = '대만'

df3_reg.at[2120, '국적'] = '대만'
df3_reg.at[2122, '국적'] = '이란'
df3_reg.at[2147, '국적'] = '독일'
df3_reg.at[2157, '국적'] = '스웨덴'
df3_reg.at[2160, '국적'] = '노르웨이'

df3_reg.at[2164, '국적'] = '영국'
df3_reg.at[2169, '국적'] = '중국'
df3_reg.at[2196, '국적'] = '아이스랜드'
df3_reg.at[2233, '국적'] = '체코'
df3_reg.at[2260, '국적'] = '미국'
df3_reg.at[2290, '국적'] = '노르웨이'

df3_reg.at[2294, '국적'] = '멕시코'
df3_reg.at[2300, '국적'] = '대만'
df3_reg.at[2327, '국적'] = '튀니지'
df3_reg.at[2343, '국적'] = '그리스'
df3_reg.at[2377, '국적'] = '스웨덴'

df3_reg.at[2410, '국적'] = '터키'
df3_reg.at[2440, '국적'] = '스웨덴'
df3_reg.at[2466, '국적'] = '모로코'
df3_reg.at[2468, '국적'] = '핀란드'
df3_reg.at[2477, '국적'] = '영국'

df3_reg.at[2486, '국적'] = '핀란드'
df3_reg.at[2537, '국적'] = '덴마크'
df3_reg.at[2615, '국적'] = '노르웨이'
df3_reg.at[2744, '국적'] = '프랑스'
df3_reg.at[2820, '국적'] = '세르비아'

df3_reg.at[2828, '국적'] = '노르웨이'
df3_reg.at[2901, '국적'] = '에스토니아'
df3_reg.at[2910, '국적'] = '파키스탄'
df3_reg.at[3030, '국적'] = '벨기에'
df3_reg.at[3065, '국적'] = '미국'

df3_reg.at[3158, '국적'] = '뉴질랜드'
df3_reg.at[3161, '국적'] = '노르웨이'
df3_reg.at[3247, '국적'] = '태국'
df3_reg.at[3385, '국적'] = '레바논'
df3_reg.at[4145, '국적'] = '그린랜드'

df3_reg.at[4289, '국적'] = '튀니지'
df3_reg.at[4344, '국적'] = '노르웨이'
df3_reg.at[4365, '국적'] = '인도'
df3_reg.at[5537, '국적'] = '터키'
df3_reg.at[5940, '국적'] = '방글라데시'

df3_reg.at[5952, '국적'] = '사우디아라비아'
df3_reg.at[5962, '국적'] = '리투아니아'
df3_reg.at[6027, '국적'] = '덴마크'
df3_reg.at[6266, '국적'] = '레바논'

In [99]:
df3_reg[df3_reg['국적']=='기타']

Empty DataFrame
Columns: [title, directors, actors, genre, 개봉일, 국적, screenCnt, salesAcc, audiAcc, act_n, 배급사, dist_rank, genre_rank, 등급_12세관람가, 등급_12세이상관람가, 등급_15세이상관람가, 등급_전체관람가, 등급_청소년관람불가]
Index: []

In [100]:
# 상위 29개의 배급사를 제외하고 '기타'로처리
df3_reg['국적'].value_counts()[:29]

미국      1944
한국      1913
일본       558
프랑스      353
영국       333
중국       226
독일       143
캐나다      113
스페인       91
이탈리아      72
러시아       72
홍콩        66
호주        52
덴마크       35
대만        33
노르웨이      32
인도        28
멕시코       21
스웨덴       20
헝가리       19
벨기에       18
태국        18
아일랜드      17
네덜란드      16
폴란드       16
브라질       13
터키        12
핀란드       11
이스라엘      10
Name: 국적, dtype: int64

In [101]:
contry_list = df3_reg['국적'].value_counts()[:29]
def cont_func(contry):
    if contry in contry_list:
        return contry
    else:
        return '기타'

In [102]:
df3_reg['국적'] = df3_reg['국적'].apply(lambda x : cont_func(x))

In [103]:
tr_cont_rank = df3_reg.groupby('국적').audiAcc.mean().reset_index(name = 'cont_rank').sort_values(by = 'cont_rank', ascending=False)
tr_cont_rank

      국적      cont_rank
26    한국  536512.555149
8     미국  394970.721708
9    벨기에  104575.111111
13  아일랜드   62206.352941
14    영국   55715.525526
18    일본   47015.974910
25   핀란드   42511.454545
17    인도   40161.500000
3     대만   38557.303030
12   스페인   31126.065934
24   프랑스   26312.473088
11   스웨덴   23843.650000
5     독일   21537.139860
4    덴마크   21110.314286
6    러시아   16306.138889
19    중국   14679.243363
28    호주   13383.788462
0     기타   13025.722222
16  이탈리아   11299.888889
29    홍콩   10029.075758
27   헝가리   10014.210526
7    멕시코    9814.380952
21    태국    9399.500000
20   캐나다    9136.566372
2   노르웨이    5034.250000
15  이스라엘    4876.300000
23   폴란드    4692.312500
1   네덜란드    4478.375000
10   브라질    3609.692308
22    터키    3526.833333

In [104]:
tr_cont_rank['cont_rank'] = [i + 1 for i in range(tr_cont_rank.shape[0])]
tr_cont_rank

      국적  cont_rank
26    한국          1
8     미국          2
9    벨기에          3
13  아일랜드          4
14    영국          5
18    일본          6
25   핀란드          7
17    인도          8
3     대만          9
12   스페인         10
24   프랑스         11
11   스웨덴         12
5     독일         13
4    덴마크         14
6    러시아         15
19    중국         16
28    호주         17
0     기타         18
16  이탈리아         19
29    홍콩         20
27   헝가리         21
7    멕시코         22
21    태국         23
20   캐나다         24
2   노르웨이         25
15  이스라엘         26
23   폴란드         27
1   네덜란드         28
10   브라질         29
22    터키         30

In [105]:
df3_reg = pd.merge(df3_reg, tr_cont_rank, how = 'left')
df3_reg

,title,directors,actors,genre,개봉일,국적,screenCnt,salesAcc,audiAcc,act_n,배급사,dist_rank,genre_rank,등급_12세관람가,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,cont_rank
0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",어드벤처,2021-09-02,영국,1,5.000000e+04,10,5,(주)나이너스엔터테인먼트,26,2,0,0,0,1,0,5
1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,2018-09-12,한국,1183,6.104165e+09,723414,121,롯데,7,4,0,0,1,0,0,1
2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,2017-02-22,한국,576,2.685519e+09,351276,50,워너브라더스,4,11,0,0,1,0,0,1
3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리",애니메이션,2018-10-09,일본,214,1.741404e+08,21153,5,디스테이션,42,8,0,0,0,1,0,6
4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",판타지,2018-11-11,미국,1,1.000000e+03,1,5,(주)케이알씨지,89,5,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠",드라마,2014-09-18,미국,1,8.000000e+03,1,5,(주)누리픽쳐스,60,11,0,0,1,0,0,2
6377,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁",코미디,2014-12-04,한국,5,7.368000e+06,1074,7,기타,71,7,0,0,1,0,0,1
6378,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드",액션,2015-01-05,미국,2,3.200000e+04,4,3,(주)케이알씨지,89,4,0,0,1,0,0,2
6379,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",SF,2014-12-11,미국,5,1.708000e+06,426,2,스크린조이,79,6,0,0,1,0,0,2
6380,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...",공포(호러),2014-08-20,한국,264,6.208740e+08,80989,84,박수엔터테인먼트,32,15,0,0,1,0,0,1

## 감독 전처리 ??

In [106]:
df3_reg['directors'].nunique()

4648

In [107]:
df3_reg['directors'].value_counts()[:150]

홍상수          14
조성규          14
이상우           9
리들리 스콧        9
이수성           8
             ..
스티븐 C. 밀러     4
하마구치 류스케      4
미쉘 프란코        4
조정래           4
미이케 다카시       4
Name: directors, Length: 150, dtype: int64

In [108]:
df3_reg_fin = df3_reg.drop(['title','actors','배급사','genre','국적','directors','개봉일','salesAcc'], axis=1)

In [109]:
df3_reg_fin['act_n'] = df3_reg_fin['act_n'].astype('int')
df3_reg_fin['act_n'] = np.log1p(df3_reg_fin['act_n']) #로그변환

In [110]:
df3_reg_fin

,screenCnt,audiAcc,act_n,dist_rank,genre_rank,등급_12세관람가,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,cont_rank
0,1,10,1.791759,26,2,0,0,0,1,0,5
1,1183,723414,4.804021,7,4,0,0,1,0,0,1
2,576,351276,3.931826,4,11,0,0,1,0,0,1
3,214,21153,1.791759,42,8,0,0,0,1,0,6
4,1,1,1.791759,89,5,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
6376,1,1,1.791759,60,11,0,0,1,0,0,2
6377,5,1074,2.079442,71,7,0,0,1,0,0,1
6378,2,4,1.386294,89,4,0,0,1,0,0,2
6379,5,426,1.098612,79,6,0,0,1,0,0,2
6380,264,80989,4.442651,32,15,0,0,1,0,0,1

In [111]:
df3_reg_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6381 entries, 0 to 6380
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   screenCnt    6381 non-null   int64
 1   audiAcc      6381 non-null   int64
 2   act_n        6381 non-null   float64
 3   dist_rank    6381 non-null   int64
 4   genre_rank   6381 non-null   int64
 5   등급_12세관람가    6381 non-null   uint8
 6   등급_12세이상관람가  6381 non-null   uint8
 7   등급_15세이상관람가  6381 non-null   uint8
 8   등급_전체관람가     6381 non-null   uint8
 9   등급_청소년관람불가   6381 non-null   uint8
 10  cont_rank    6381 non-null   int64
dtypes: float64(1), int64(5), uint8(5)
memory usage: 380.1 KB

In [112]:
df3_reg_fin.to_csv('movie_df_regression.csv', index=False)

## 모델링

### 데이콘 기세현 코드 공유

### train_test_split

In [117]:
y_df3_reg = df3_reg_fin['audiAcc']
x_df3_reg = df3_reg_fin.drop('audiAcc', axis=1)

In [118]:
from sklearn.model_selection import train_test_split
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(x_df3_reg, y_df3_reg, test_size=0.3, random_state=100)

In [119]:
X_test_reg

,screenCnt,act_n,dist_rank,genre_rank,등급_12세관람가,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,cont_rank
775,1041,5.187386,23,5,0,0,1,0,0,1
5278,62,2.197225,27,11,0,1,0,0,0,11
1065,434,1.098612,20,8,0,0,0,1,0,11
4805,39,1.098612,25,11,0,0,0,1,0,11
5060,20,1.945910,79,12,0,0,1,0,0,6
...,...,...,...,...,...,...,...,...,...,...
2173,383,1.791759,32,8,0,0,1,0,0,6
5015,1,3.637586,8,8,0,0,0,0,1,1
6022,160,2.197225,71,15,0,0,1,0,0,1
4652,3,0.693147,54,18,0,0,1,0,0,1
1016,4,1.791759,89,7,0,0,0,0,1,2

In [120]:
y_train_reg = np.log1p(y_train_reg)
y_test_reg = np.log1p(y_test_reg)

In [121]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from ngboost import NGBRegressor

In [145]:
gbm = GradientBoostingRegressor(random_state = 42) # GradientBoostingRegressor

gbm.fit(X_train_reg, y_train_reg)

gbm_predict = gbm.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(ngb_predict, y_test_reg))
print(gbm.score(X_train_reg, y_train_reg))
print(gbm.score(X_test_reg, y_test_reg))
print(test_RMSE)


# salesAcc포함
#0.9973637283003428
#0.9970881236641013
#0.04077069486604481

0.9012348340871313
0.8847478582187283
1.2731957720616218

In [146]:
y_predict

array([14.29579681,  9.23089165, 11.76717589, ...,  9.79661293,
        7.05702636,  5.98904278])

In [180]:
ngb = NGBRegressor(random_state = 42) # NGBRegressor
ngb.fit(X_train_reg, y_train_reg)

ngb_predict = ngb.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(ngb_predict, y_test_reg))
print(ngb.score(X_train_reg, y_train_reg))
print(ngb.score(X_test_reg, y_test_reg))
print(test_RMSE)

# salesAcc포함
#0.04017472102573339

[iter 0] loss=2.7303 val_loss=0.0000 scale=1.0000 norm=3.0128
[iter 100] loss=1.8421 val_loss=0.0000 scale=2.0000 norm=2.4341
[iter 200] loss=1.5802 val_loss=0.0000 scale=2.0000 norm=2.2171
[iter 300] loss=1.5325 val_loss=0.0000 scale=2.0000 norm=2.2058
[iter 400] loss=1.5130 val_loss=0.0000 scale=2.0000 norm=2.1921
1.4972106245162298
1.5868791003824745
1.2730986963974773

In [148]:
y_predict

array([14.29579681,  9.23089165, 11.76717589, ...,  9.79661293,
        7.05702636,  5.98904278])

In [149]:
lgbm = LGBMRegressor(random_state = 42) #LGBMRegressor

lgbm.fit(X_train_reg, y_train_reg)

lgbm_predict = lgbm.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(lgbm_predict, y_test_reg))
print(lgbm.score(X_train_reg, y_train_reg))
print(lgbm.score(X_test_reg, y_test_reg))
print(test_RMSE)

0.92976868077444
0.8909055014665301
1.235916181333182

In [150]:
xgb = XGBRegressor(random_state = 42) # XGBRegressor

xgb.fit(X_train_reg, y_train_reg)

xgb_predict = xgb.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(xgb_predict, y_test_reg))
print(xgb.score(X_train_reg, y_train_reg))
print(xgb.score(X_test_reg, y_test_reg))
print(test_RMSE)

0.9620635843143315
0.8811900783508072
1.2897749798768172

In [151]:
cat = CatBoostRegressor(random_state = 42, silent = True) # CatBoostRegressor

cat.fit(X_train_reg, y_train_reg)

cat_predict = cat.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(cat_predict, y_test_reg))
print(cat.score(X_train_reg, y_train_reg))
print(cat.score(X_test_reg, y_test_reg))
print(test_RMSE)

0.9378782986006743
0.8908074401682529
1.2364715178741494

In [152]:
rf = RandomForestRegressor(random_state = 42) #RandomForestRegressor

rf.fit(X_train_reg, y_train_reg)

rf_predict = rf.predict(X_test_reg)
test_RMSE = np.sqrt(mean_squared_error(rf_predict, y_test_reg))
print(rf.score(X_train_reg, y_train_reg))
print(rf.score(X_test_reg, y_test_reg))
print(test_RMSE)

0.9817957790525287
0.8764503440603318
1.3152501599925397

In [158]:
import matplotlib.pyplot as plt
%matplotlib inline

### k-fold

In [131]:
kf = KFold(n_splits =  6, shuffle = True, random_state = 42) #10fold

In [132]:
y_df_reglog = np.log1p(y_df3_reg)
# log로 변환하는 이유는 정규성을 높이고 분석에서 정확한 값을 얻기 위함

In [175]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    gbm = GradientBoostingRegressor(random_state = 42)  
    gbm.fit(tr_x, tr_y)
    
    pred =  gbm.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = gbm.score(tr_x, tr_y)
    acc_tst = gbm.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[0.8990149528520878, 0.8995925617157272, 0.8970795362666777, 0.9000113761719865, 0.8991221324826619, 0.8995209205571293]
0.899056913341045
[0.8890535586933376, 0.8850247111267825, 0.8956980583953178, 0.8791622571745653, 0.8894796918764826, 0.8815323922725989]
0.8866584449231808
[1.2394257749263569, 1.2597074819988603, 1.2379751912864392, 1.2970901229229796, 1.209247391540519, 1.2657800591270554]
1.2515376703003684

In [177]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    ngb = NGBRegressor(random_state = 42)  
    ngb.fit(tr_x, tr_y)
    
    pred =  ngb.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = ngb.score(tr_x, tr_y)
    acc_tst = ngb.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[iter 0] loss=2.7328 val_loss=0.0000 scale=1.0000 norm=3.0195
[iter 100] loss=1.8501 val_loss=0.0000 scale=2.0000 norm=2.4466
[iter 200] loss=1.5884 val_loss=0.0000 scale=2.0000 norm=2.2286
[iter 300] loss=1.5402 val_loss=0.0000 scale=2.0000 norm=2.2198
[iter 400] loss=1.5226 val_loss=0.0000 scale=2.0000 norm=2.2081
[iter 0] loss=2.7331 val_loss=0.0000 scale=1.0000 norm=3.0179
[iter 100] loss=1.8479 val_loss=0.0000 scale=2.0000 norm=2.4449
[iter 200] loss=1.5852 val_loss=0.0000 scale=2.0000 norm=2.2279
[iter 300] loss=1.5366 val_loss=0.0000 scale=2.0000 norm=2.2157
[iter 400] loss=1.5167 val_loss=0.0000 scale=2.0000 norm=2.2027
[iter 0] loss=2.7267 val_loss=0.0000 scale=2.0000 norm=6.0087
[iter 100] loss=1.8420 val_loss=0.0000 scale=2.0000 norm=2.4399
[iter 200] loss=1.5885 val_loss=0.0000 scale=2.0000 norm=2.2318
[iter 300] loss=1.5420 val_loss=0.0000 scale=2.0000 norm=2.2233
[iter 400] loss=1.5238 val_loss=0.0000 scale=2.0000 norm=2.2123
[iter 0] loss=2.7323 val_loss=0.0000 scale=1.0000 norm=3.0266
[iter 100] loss=1.8491 val_loss=0.0000 scale=2.0000 norm=2.4415
[iter 200] loss=1.5850 val_loss=0.0000 scale=2.0000 norm=2.2211
[iter 300] loss=1.5374 val_loss=0.0000 scale=1.0000 norm=1.1073
[iter 400] loss=1.5201 val_loss=0.0000 scale=1.0000 norm=1.1018
[iter 0] loss=2.7371 val_loss=0.0000 scale=1.0000 norm=3.0373
[iter 100] loss=1.8571 val_loss=0.0000 scale=2.0000 norm=2.4631
[iter 200] loss=1.5898 val_loss=0.0000 scale=2.0000 norm=2.2332
[iter 300] loss=1.5400 val_loss=0.0000 scale=2.0000 norm=2.2236
[iter 400] loss=1.5217 val_loss=0.0000 scale=1.0000 norm=1.1066
[iter 0] loss=2.7351 val_loss=0.0000 scale=1.0000 norm=3.0315
[iter 100] loss=1.8510 val_loss=0.0000 scale=2.0000 norm=2.4417
[iter 200] loss=1.5862 val_loss=0.0000 scale=2.0000 norm=2.2224
[iter 300] loss=1.5387 val_loss=0.0000 scale=1.0000 norm=1.1092
[iter 400] loss=1.5199 val_loss=0.0000 scale=1.0000 norm=1.1039
[1.5041146739763946, 1.5051680565138315, 1.5119781257043716, 1.501201135695661, 1.5085698015704359, 1.5073290296115893]
1.5063934705120474
[1.550914343545666, 1.6037622264648446, 1.5742206100390745, 1.589093374615976, 1.5666284591923951, 1.5813924716122676]
1.577668580911704
[1.2464418196459959, 1.268750540567359, 1.2397723990095235, 1.2939859632953636, 1.2122447291930798, 1.261527699902443]
1.2537871919356274

In [168]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    lgbm = LGBMRegressor(random_state = 42)
    lgbm.fit(tr_x, tr_y)
    
    pred =  lgbm.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = lgbm.score(tr_x, tr_y)
    acc_tst = lgbm.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[0.9270325476537069, 0.9261104088453649, 0.9259464697170185, 0.9274237056217295, 0.9273028891301246, 0.9274251458440779]
0.9268735278020036
[0.8917599002959316, 0.8950087752949496, 0.9006100968230293, 0.8867893507690482, 0.892533750966002, 0.8884688670058551]
0.892528456859136
[1.2242156498211534, 1.203771217479019, 1.2084727972729628, 1.2554877818328565, 1.1924224968761794, 1.228164379280726]
1.2187557204271495

In [178]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    xgb = XGBRegressor(random_state = 42) # XGBRegressor
    lgbm.fit(tr_x, tr_y)
    
    pred =  lgbm.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = lgbm.score(tr_x, tr_y)
    acc_tst = lgbm.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[0.9270325476537069, 0.9261104088453649, 0.9259464697170185, 0.9274237056217295, 0.9273028891301246, 0.9274251458440779]
0.9268735278020036
[0.8917599002959316, 0.8950087752949496, 0.9006100968230293, 0.8867893507690482, 0.892533750966002, 0.8884688670058551]
0.892528456859136
[1.2242156498211534, 1.203771217479019, 1.2084727972729628, 1.2554877818328565, 1.1924224968761794, 1.228164379280726]
1.2187557204271495

In [174]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    cat = CatBoostRegressor(random_state = 42, silent = True) 
    cat.fit(tr_x, tr_y)
    
    pred =  cat.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = cat.score(tr_x, tr_y)
    acc_tst = cat.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[0.9354314283211789, 0.935537335506775, 0.9342622059086196, 0.9359193038993517, 0.935221293541079, 0.9360829549416392]
0.935409087019774
[0.8962552414337831, 0.8945270526259829, 0.9028032631755928, 0.8911324395028903, 0.894811045334186, 0.8917102784856492]
0.8952065534263475
[1.1985245031857599, 1.2065296396635619, 1.1950651653574245, 1.231170202216252, 1.1797206606528743, 1.2101858166521269]
1.2035326646213331

In [179]:
rmse_list = []
acc_tr_list = []
acc_tst_list = []
gb_pred = np.zeros((X_test_reg.shape[0]))
for tr_idx, val_idx in kf.split(x_df3_reg):
    tr_x, val_x = x_df3_reg.iloc[tr_idx], x_df3_reg.iloc[val_idx]
    tr_y, val_y = y_df_reglog.iloc[tr_idx], y_df_reglog.iloc[val_idx]
    
    rf = RandomForestRegressor(random_state = 42) #RandomForestRegressor 
    rf.fit(tr_x, tr_y)
    
    pred =  rf.predict(val_x)
    rmse = np.sqrt(mean_squared_error(pred, val_y))
    acc_tr = rf.score(tr_x, tr_y)
    acc_tst = rf.score(val_x, val_y)
    
    acc_tr_list.append(acc_tr)
    acc_tst_list.append(acc_tst)
    rmse_list.append(rmse)
print(acc_tr_list)
print(np.mean(acc_tr_list))
print(acc_tst_list)
print(np.mean(acc_tst_list))
print(rmse_list)
print(np.mean(rmse_list))

[0.9815692994955317, 0.9805871106608877, 0.9806668594609466, 0.9821558031945175, 0.9807504051888786, 0.9815635125508878]
0.9812154984252749
[0.8828963837052243, 0.8854769936984634, 0.8919091931274683, 0.8718956064543352, 0.8859565699052183, 0.8767204071553241]
0.8824758590076723
[1.2733535065720525, 1.2572273614642038, 1.2602599196406328, 1.335521434175328, 1.2283701414507218, 1.2912312731646758]
1.2743272727446022